html {
	-webkit-text-size-adjust: none;
}

@media only screen and (max-width:1200px) {
	#header-wrap {
		/* width: 1100px; */
	}

	#login {
		float: none;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}

	#search {
		/* width: 1100px; */
	}

	.strelka {
		right: 20px;
		top: 8px;
	}

	#select {
		margin-left: 20px;
	}

	#priceot {
		width: 200px;
			margin-left: 25px;
	}

	#pricedo {
		width: 200px;
			margin-left: 0;
	}

	#submit {
		display: inline-block;
			margin-left: 30px;
	}

	#submit-two {
		display: inline-block;
	}

	#submit-two input[type='submit'] {
		float: none;
	}

	#objekt-two {
		margin-left: 100px;
	}

	.strelka-two {
		right: 20px;
		bottom: 5px;
	}

	#search-two {
		/* width: 1100px; */
	}

	#footer-wrap {
		/* width: 1100px; */
	}

	#search-id input.submit-id {
		float: none;
		position: absolute;
		right: 0;
		top: 18px;
		z-index: 1;
	}

	/*#select {
		margin-left: 2%;
	}

	#priceot {
		margin-left: 2%;
	}

	#submit {
		text-align: inherit;
	}

	input[type='submit'] {
		float: none;
		margin-left: 5%;
	}

	.strelka-two {
		right: 20px;
		bottom: 5px;
	}

	#submit-two {
		text-align: inherit;
	}

	#objekt-two {
		margin-left: 5%;
	}*/
}

@media only screen and (max-width:1120px) {
	img {
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
	}
}


/*@media only screen and (max-width:1120px) {
	.slider-wrap {
		width: 100%;
	}

	#header {
		width: 100%;
	}

	#presentation_container {
		width: 100%;
	}

	#content-wrap {
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 479px) {}*/