/*@font-face {font-family: Tahoma, Geneva, Kalimati; 
    src: url('../fonts/pts55f_w.eot'); 
    src: local(Tahoma, Geneva, Kalimati), url('../fonts/PTS55F_W.woff') format('woff'),url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: Georgia, "Century Schoolbook L"; 
    font-style: italic;
    src: url('../fonts/ptf56f_w.eot'); 
    src: local('fonts/Georgia, "Century Schoolbook L" Italic'), url('../fonts/ptf56f_w.woff') format('woff'),url('../fonts/ptf56f_w.ttf') format('truetype'), url('../fonts/ptf56f_w.svg#PTSerif-Italic') format('svg');}

@font-face {font-family: Georgia, "Century Schoolbook L";
    font-style: italic;
    font-weight: bold; 
    src: url('../fonts/ptf76f_w.eot'); 
    src: local('Georgia, "Century Schoolbook L" Bold Italic'), url('../fonts/ptf76f_w.woff') format('woff'),url('../fonts/ptf76f_w.ttf') format('truetype'), url('../fonts/ptf76f_w.svg#PTSerif-BoldItalic') format('svg');}
*/

:focus {
    outline: none;
    box-shadow: none;
}
::-webkit-input-placeholder {
    color: #565454;
}
::-moz-placeholder {
    color: #565454;
}
:-ms-input-placeholder {
    color: #565454;
}

/*a:hover {
    opacity: 0.6 !important;
    filter: alpha(opacity=60);
}*/

/*.no-hover:hover {
    opacity: 1 !important;
    filter: alpha(opacity=100);
}*/


.clr {
    clear: both;
}
body {
    background: #e6e6e6 url('../images/bg-serch-all.jpg') repeat 0 0;
}
#line {
    height: 5px;
    width: 100%;
    background: #e6e6e6;
}
#header {
    width: 1100px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}
#header-wrap {
    background: url(../images/bg-header.png) repeat-x 0 0;
    width: 100%;
    height: 120px;
    z-index: 2;
}
#logo {
    display: inline-block;
    position: relative;
        top: 15px;
    /*text-indent: -9999px;*/
    /*width:185px;*/
    /*height: 94px;*/
    /*background: url(../images/logo-sprite.jpg) no-repeat;*/
}
#logo:after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../images/logo-sprite.jpg) no-repeat;
    background-position: bottom;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
#logo:hover:after {
    /*opacity: 1;*/
}
#login {
    float: right;
}

.enter {
    display: inline-block;
    min-width: 31px;
}

.enter,
.register {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #303030;
    letter-spacing: 1px;
        position: relative;
}
.register {
    display: inline-block;
    min-width: 83px;

    padding-left: 12px;
    margin-left: 8px;
}
.register:before {
    display: block;
    content: "";
    height: 10px;
    width: 1px;
    background: #676767;
        position: absolute;
        left: 0;
        top: 4px;
        z-index: 1;
}
#nav {
    width: auto;
    height: 20px;
    position: absolute;
    top: 56px;
    right: 0;
    z-index: 1;
}
.nav {
    list-style-type: none;
}
.nav .li-nav, .nav .li-nav-first, .nav .li-nav-last, .nav .li-nav-magazin {
    display: block;
    float: left;
    /*letter-spacing: 1px;*/
}
.nav .li-nav {
    margin-left: 38px; 
}
.nav .li-nav-last {
    margin-left: 25px;
}
.nav .li-nav a, .nav .li-nav-first a, .nav .li-nav-last a, .nav .li-nav-magazin a {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    /*color: #3DA1A1;*/
    color: #106767;
    text-decoration: none;
}
.nav .li-nav a:hover, .nav .li-nav-first a:hover, .nav .li-nav-last a:hover {
    color: #3ca2a2;
}
.li-nav-magazin {
    margin-top: -4px;
    width: 95px;
    height: 35px;
    margin-left: 25px;
    background: url(../images/magazin.png) no-repeat;
}
.li-nav-magazin a{
    width: 92px;
    text-align: center;
    height: 31px;
    display: block;
    padding-top: 5px;
}
*html .nav .li-nav-magazin {
    margin-top: -7px;
    width: 103px;
    height: 31px;
    margin-left: 30px;
    background-image:  url(../images/magazin.png) no-repeat 0 0;
}
*html .li-nav-magazin a{
    width: 92px;
    text-align: center;
    height: 28px;
    display: block;
    padding-top: 7px;
}
*html .li-nav-magazin:hover {
    background: url(../images/magazin-hover.png) no-repeat;
}
*html .li-nav-magazin a:hover {
    color: #ffffff;
}
.li-nav-magazin:hover,
.li-nav-magazin.current {
    background: url(../images/magazin-hover.png) no-repeat;
}
.li-nav-magazin a:hover,
.li-nav-magazin.current a {
    color: #ffffff;
}
#search {
    width: 100%;
    height: 50px;
    padding-top: 22px;
    background: url('../images/bg-serch-all.jpg') repeat 0 0;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0, 0.2);
    -moz-box-shadow:    0px 1px 2px rgba(0,0,0, 0.2);
    box-shadow:         0px 3px 6px rgba(0,0,0, 0.2);
    margin-bottom: 2px;

    position: relative;
    z-index: 33;
}
#form-search{
    /*border: 1px dashed green;*/
}
#radio, #radiotwo {
    /*border: 1px solid grey;*/
    width: 186px;
        margin-right: 0;
}
#radio input, #radiotwo input{
    display: none !important;
}
#radio label, #radiotwo label{
    vertical-align: text-top;
    display: inline-block;
    height: 29px;
    width: 90px;
    line-height: 29px;
    color: #333;
    text-align: center;
    font-size: 15px;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
}

#search-two {
    width: 100%;
    background: url('../images/bg-serch-all.jpg') repeat left top;
    height: 342px;
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0, 0.2);
    -moz-box-shadow:    0px 3px 6px rgba(0,0,0, 0.2);
    box-shadow:         0px 3px 6px rgba(0,0,0, 0.2);
}
.title-search {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 24px;
    color: #525559;
    float: left;
    width: auto;
    margin-top: 13px;
}
#form-wrap {
    height: 52px;
    margin-bottom: 30px;
}
#search-id {
    float: right;
    width: 485px;
    height: 26px;
    margin-top: 18px;
    background: url("../images/bg-input.png") repeat-x;
    border-radius: 3px;
    behavior: url(test/PIE.php);
    color: #5f5e5e;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    box-shadow: inset 1px 1px 3px #B0B0B0;
}
#search-id input{
    background: none;
    box-shadow: none;
}
#search-id input[type='submit']{
    background: transparent url("../images/btn-search.png") center no-repeat;
    opacity: 0.5;
}
#text-search-id {
    width: 445px;
    padding-left: 10px;
    height: 24px;
    line-height: 24px;
}
#search-id input.submit-id {
    width: 18px;
    height: 20px;
    margin: 3px 4px;
}
#search-id input {
    float: left;
    background: none;
    border: none;
    outline: none;
}
.search {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
.search-two {
    width: 1100px;
    /*height: 312px;*/
    margin: 0 auto;
    position: relative;
}
.ui-button-text-only .ui-button-text {
    padding: 4px 10px;
    color: #52908f;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 15px;
}
.ui-corner-right{
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-radius: 0  3px 3px 0;
    behavior: url(test/PIE.php);
    background: #f6f6f6;
    box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ui-corner-left{
    border: 1px solid #CCC;
    border-radius:  3px 0 0 3px;
    behavior: url(test/PIE.php);
    background: #f6f6f6;
    box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ui-corner-left.ui-state-active{
    box-shadow: inset 1px 1px 3px #b0b0b0;
}
.ui-corner-right.ui-state-active{
    box-shadow: inset 1px 1px 3px #b0b0b0;
}
.ui-corner-left.ui-state-active  .ui-button-text {
    color: #333333;
}
.ui-corner-right.ui-state-active   .ui-button-text{
    color: #333333;
}
#radio, #select, #priceot, #pricedo {
    float: left;
}
#select {
    margin-left: 57px;
}
#priceot {
    margin-left: 63px;
}
    #priceot label, #pricedo label{
        margin-right: 3px;
    }
#pricedo {
    margin-left: 20px;
}
#pricedo span{
    margin-left: 6px;
}
/**html #pricedo {
    width: 245px;
}*/
#pricedo span {
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 16px;
    margin-left: 10px;
}
#radiotwo, #select-two, #priceot-two, #pricedo-two, #squareot-two, #squaredo-two {
    float: left;
}
.title-searh-width, .title-searh-widthpr, .all-s {
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 16px;
    position: relative;
    margin-bottom: 8px;
    display: inline-block;
}
.title-searh-width {
    margin-left: 0;
}
.title-searh-widthpr {
    margin-left: 220px;
}
.all-s{
    margin-left: 174px;
}
.all-s h2 span{
    border-bottom: 1px dashed #076061
}

.kvadrat{
    position: absolute;
    top: 0;
    font-size: 12px;
}
#line-search,
#line-search2 {
    width: 100%;
    float: left;
    position: relative;
    /*height: 40px;*/
        margin-top: 31px;
}
#line-search {
    margin-top: 23px;
}

#form-search-two {
    width: 100%;
    float: left;
}

#select-two,
#select-two2,
#select-two3 {
    float: left;
    margin-left: 124px;
}
#squareot-two, #squaredo-two {
    margin-left: 0px;
    margin-right: 15px;
}
#squareot-two label.text, #squaredo-two label.text {
    margin-right: 3px;
}
#squareot-two input[type='text'],#squaredo-two input[type='text']{
    width: 68px;
}
#priceot-two{
    margin-left: 85px;
}
    #priceot-two label, #pricedo-two label{
        margin-right: 3px;
    }
#pricedo-two{
    margin-left: 20px;
}

*html #pricedo-two {
    width: 245px;
}
#pricedo-two span {
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 16px;
    margin-left: 10px;
}
#submit-two{
    display: inline;
    text-align: right;
    line-height: 29px;
}
#objekt-two{
    display: inline-block;
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 12px;
    line-height: 29px;
    height: 29px;
    margin-right: 12px;
    /*font-weight: bold;*/
    float: none;

    position: relative;
    left: 40px;
}

select {
    color: #52908f;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 15px;
}
.text {
    float: left;
    display: block;
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 16px;
    padding: 0;
    line-height: 28px;
    vertical-align: middle;
}
.dynamic-link{
    float: left;
    width: 310px;
    font-size: 16px;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    color: #076061;
}
.dynamic-link label{
    cursor: pointer;
}
.dynamic-link label:hover+ul{
    /*display: block;*/
}
.dynamic-link ul{
    /*display: none;*/
    /*width: 260px;*/
    width: 100%;
    float: left;
    margin-top: 5px;
}
    .dynamic-link ul li,
    .selection-list li {
        float: left;
        color: #5f5e5e;
        list-style: none;
        margin-right: 5px;
        font-family: Tahoma, Geneva, Kalimati, sans-serif;
    }
        /*.dynamic-link ul li:after{
            content: '×';
            margin-left: 3px;
            font-size: 14px;
        }*/

        .dynamic-link ul li .icon,
        .selection-list li .icon {
            display: inline-block;
            position: relative;
            left: -1px;
            bottom: 1px;

            width: 8px;
            height: 7px;
            background: url(../images/icon-ul-remove.png) left top no-repeat;         

            cursor: pointer;
        }



.dynamic-link label span.caption{
    border-bottom: 1px dotted #076061;
}
.dynamic-link label span.arrow{
    display: inline-block;
    background: url("../images/raion-arrow.png") center no-repeat;
    width: 10px;
    height: 10px;
        margin-left: 4px;
}

#choices {
    width: auto;
        position: relative;
        left: -5px;
}

#choices p {
    margin-top: 10px;
}
#choices p:first-child {
    margin-top: 0;
}

#choices label {
    font-family: Tahoma;
    font-size: 16px;
    color: #080808;
}


/**html label.text {
    float: left;
    display: block;
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati;
    font-size: 16px;
    
    margin: 0;
}
*html span.text {
    float: left;
    display: block;
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati;
    font-size: 16px;
    padding: 0;
    line-height: 28px;
    vertical-align: middle;
    margin: 0;
}
*+html label.text {
    float: left;
    display: block;
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati;
    font-size: 16px;
    
    margin: 0;
}
*+html span.text {
    float: left;
    display: block;
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati;
    font-size: 16px;
    padding: 0;
    line-height: 28px;
    vertical-align: middle;
    margin: 0;
}*/
#objekt{
    display: inline-block;
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 12px;
    line-height: 29px;
    height: 29px;
    margin-right: 20px;
    /*font-weight: bold;*/

}
/**html label.objekt {
    float: left;
    display: block;
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati;
    font-size: 12px;
    
    margin: 0;
}
*html span.objekt {
    float: left;
    display: block;
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati;
    font-size: 12px;
    padding: 0;
    line-height: 28px;
    vertical-align: middle;
    margin: 0;
}
*+html label.objekt {
    float: left;
    display: block;
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati;
    font-size: 12px;
    
    margin: 0;
}
*+html span.objekt {
    float: left;
    display: block;
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati;
    font-size: 12px;
    padding: 0;
    line-height: 28px;
    vertical-align: middle;
    margin: 0;
}*/
input.price {
    width: 119px;
    height: 29px;
    border: none;
    outline: none;
    background: url("../images/bg-input.png") repeat-x ;
    border-radius: 3px;
    behavior: url(test/PIE.php);
    padding-right: 10px;
    text-align: right;
    color: #343434;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 16px;
    float: left;
    box-shadow: inset 1px 1px 3px #B0B0B0;
    line-height: 29px;
}

#submit {
    padding: 0;
    margin: 0;
    text-align: right;
    line-height: 29px;
}
#submit input{
    display: inline-block;
}

input[type='submit']{
    width: 90px;
    height: 31px;
    cursor: pointer;
    line-height: 29px;
    margin-right: 0;
    color: #076061;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    color: #fefefe;
    float: right;
    border-radius: 3px;
    behavior: url(test/PIE.php);
    border: 1px solid #CCC;
    /*background: url("../images/bg-input-submit.png") repeat-x 0 0;*/
    background: #367475;

    box-shadow: 1px 1px 1px 0 #848484;
    -moz-box-shadow: 1px 1px 1px 0 #848484;
    -webkit-box-shadow: 1px 1px 1px 0 #848484;

    padding: 0;
    border: 0;

}
input[type='submit']:hover{
    /*background: url("../images/bg-input-submit.png") repeat-x 0 -33px;*/
    background: #4c9192;
    color: #fff;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
    /*border: 1px solid #CCC;*/
}
input[type='submit']:active{
    /*background: url("../images/bg-input-submit.png") repeat-x 0 -64px;*/
    background: #1e3d3e;
    /*border: 1px solid #CCC;*/
    border: 0;
}


/**html input.submit-btn{
    background: url(../images/btn-bg.png) no-repeat 0 0;
    width: 93px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 0;
    color: #076061;
    font-family: Tahoma, Geneva, Kalimati;
    float: right;
}*/
.strelka {
    width: 16px;
    height: 17px;
    background: url(../images/strelka.png) no-repeat 0 0;
    position: absolute;
    right: -40px;
    bottom: 3px;
    display: block;
    cursor: pointer;
}
*html .strelka {
    width: 16px;
    height: 17px;
    background: url(../images/strelka.png) no-repeat 0 0;
    position: absolute;
    left: 1140px;
    top: 33px;
    display: block;
    cursor: pointer;
}
.strelka:hover {
    background: url(../images/strelka-hover.png) no-repeat 0 0;
    width: 20px;
    height: 21px;
}
.strelka-two {
    width: 16px;
    height: 17px;
    background: url(../images/strelka-two.png) no-repeat 0 0;
    position: absolute;
    right: -40px;
    bottom: 10px;
    display: block;
    cursor: pointer;
}
.strelka-two:hover {
    background: url(../images/strelka-hover-two.png) no-repeat 0 0;
    width: 20px;
    height: 21px;
}
.slidesjs-pagination {
    width: auto;
    position: absolute;
    bottom: 10px;
    z-index: 1000;
    list-style-type: none;
    left: 50%;
    margin-left: -76px;
    z-index: 3;
}
.slidesjs-pagination li {
    display: block;
    float: left;
}
.slidesjs-pagination .slidesjs-pagination-item a {display: block; background: url(../images/navi.png) no-repeat; width: 8px; height: 8px; text-decoration: none; margin: 0 15px; color: transparent;font-size: 0px; }
.slidesjs-pagination .slidesjs-pagination-item a.active {display: block; background: url(../images/navi-active.png) no-repeat; width: 8px; height:  px;}
.slidesjs-pagination a:focus { outline: none; }
.slider-wrap {
    position: relative;
    width: 1100px;
    height: 621px;
    margin: -2px auto 0;
}
#presentation_container {
    width: 1100px; 
}
#presentation_container img {
    width: 1100px;
    height: 621px;
}
a.slidesjs-next.slidesjs-navigation {
    position: absolute;
    width:24px;
    height:47px;
    background: url(../images/next.png) no-repeat 0 0;
    -background: url(../images/next.png);
    top: 270px;
    right: 0;
    z-index: 1000;
    cursor: pointer;
    font-size: 0px;
    color: transparent;
    z-index: 3;
}
a.slidesjs-previous.slidesjs-navigation {
    position: absolute;
    width:24px;
    height:47px;
    background: none; 
    background: url(../images/prev.png) no-repeat 0 0;
    -background: url(../images/prev.png);
    top: 270px;
    left: 0;
    z-index: 1000;
    cursor: pointer;
    font-size: 0px;
    color: transparent;
    z-index: 3;
}
.pc_item {
    position: relative;
}

.desc {
    width: 980px;
    padding: 30px 60px 45px;
    /*height:140px;*/
    line-height: 26px;
    position: absolute;
    bottom: 0;
    background: url('../images/desc-bg.png'); 
    text-align: left;
    color: #ffffff;
    /*font-family: Georgia, "Century Schoolbook L", serif;*/
    font-family: Tahoma;
    font-size: 20px;
    /*font-weight: bold;*/
}
.desc h1 {
    color: #ffffff;
    font-family: Georgia, "Century Schoolbook L", serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
        margin-bottom: 10px;
}
#content-wrap {
    width: 1100px;
    min-height: 600px;
    margin: 35px auto;
}
.content {
    width: 825px;
    float: left;
}
.con-top {
    width: 825px;
    height: 9px;
    background: url(../images/bg-top-con.png) no-repeat 0 0;
}
.con-cen {
    float: left;
    width: 825px;
    min-height: 500px;
    background: url(../images/bg-cen-con.png) repeat-y 0 0;
    margin-bottom: -8px;
    padding-bottom: 32px;
}
*html .con-cen {
    margin-top: -15px;
    width: 825px;
    height: 500px;
}
.con-bot {
    float: left;
    width: 825px;
    height: 11px;
    background: url(../images/bg-bot-con.png) no-repeat 0 0;
}
.title-page {
    display: block;
    width: 745px;
    min-height: 40px;
    padding-top: 25px;
    margin: 0px 40px;
    border-bottom: 1px solid #000000;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 30px;
    color: #000000;

    position: relative;
}
.article {
    width: 745px;
    margin: 40px 40px 15px 42px;
}

.title {
    font-family: Georgia, "Century Schoolbook L", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: #135d5f;
    text-decoration: none;
}
p.article-con {
    margin-top: 5px;
    font-family: Georgia, "Century Schoolbook L", serif;
    font-size: 18px;
    color: #333333;
}
.article-main {
    display: block;
    text-decoration: none;
    position: relative;
}
.dateview-main-article {
    width: 235px;
    position: absolute;
    bottom: 0;
    right: 0px;
}
.dateview {
    float: right;
    width: 235px;
}
span.date, span.view {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 12px;
    color: #818181;
}
span.date {
    float: left;
}
span.view {
    float: right;
    background: url(../images/view.png) no-repeat left bottom;
    padding-left: 25px;
}
.article-prev {
    margin: 30px 0;
    width: 234px;
    float: left;
    margin-left: 21px;
}
.article-main + .article-prev,
.article-prev:first-child {
    margin-left: 0;
}
.article-prev .title, .article-prev-last .title {
    font-size: 18px;
    display: inline-block;
    width: 232px;
}
.article-prev-last {
    margin: 30px 0;
    float: right;
    width: 248px;
    margin-right: -14px;
}
.article-prev .dateview, .article-prev-last .dateview {
    width: 232px;
    float: left;
    margin: 10px 0;
}
a.readmore {
    float: right;
    border-bottom: 1px dotted #106767;
    color: #106767;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    text-decoration: none;
    background: url(../images/read-more.png) no-repeat right 7px;
    padding-right: 10px;
}
.text-bot {
    margin: 30px 0 50px;
}
.text-bot p, #footer p {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 12px;
    color: #000000;
}
#footer-wrap {
    background: url(../images/bg-footer.png) repeat-x 0 0;
    width: 100%;
    height: 74px;
}
#footer {
    width: 1100px;
    height: 45px;
    padding-top: 29px;
    margin: 0 auto;
}
#sidebar,
#sidebar_banner {
    width: 240px;
    float: right;
    min-height: 700px;
}
.sidebar h1.title-sidebar {
    display: block;
    width: 240px;
    height: 40px;
    line-height: 45px;
    vertical-align: bottom;
    padding-top: 24px;
    border-bottom: 1px solid #818181;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 20px;
    color: #525559;
}

.order:first-child,
h1:first-child + .order {
    margin-top: 40px;
}

.order {
    overflow: auto;
    display: block;
    margin-top: 20px;
    text-decoration: none;
}
.order img {
    margin-bottom: 5px;
}
.name-order {
    color: #0F6866;
    text-decoration: none;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-weight: bold;
    font-size: 16px;
}
p.info-order {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 16px;
    color: #525559;
    margin: 5px 0;
}
p.info-order span {
    color: #000000;
}
.news {
    display: block;
    margin-top: 20px;
    text-decoration: none;
}
.news:hover .info-news {
    text-decoration: underline;
}
.date-news {
    color: #106767;
    text-decoration: none;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 12px;
}
p.info-news {
    color: #525559;
    text-decoration: none;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
}
a.read {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 10px;
    color: #106767;
    text-decoration: none;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 12px;
}
.search-width {
    display: none;
}

.lines{
    border-bottom: 1px solid #c9cbcc;
}
#search-two{
    position: relative;
    z-index: 33;
}
#search-two:before{
    display: block;
    position: absolute;
    height: 1px;
    top: 51px;
    left: 0;
    width: 100%;
    background: #c9cbcc;
    content: "";
}
.title-search{
    position: relative;
}
.title-search:after{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 32px;
    left: 45px;
    height: 20px;
    background: url("../images/arrow-lines.png") center no-repeat;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-hover {
    background: none;
}

.breadcrumbs {
    margin-bottom: 5px;
}

.breadcrumbs a {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 12px;
    color: #106767;
    text-decoration: none;
}

.breadcrumbs .separator {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 12px;
    color: #106767;

    margin: 0 5px;
}

.breadcrumbs .current {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 12px;
    color: #818181;
}

.article-content .title-page {
    border-color: #dadada;
}

.article-header .view {
    float: right;
        margin-left: 30px;
}

.article-header .date {
    float: right;
}

.article-header .date,
.article-header .view {
    position: relative;
    top: 17px;
}

.article-header .social {
    position: relative;
    top: -20px;
}

.article-meta h2,
.article-meta h2 p {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-weight: normal;
    font-size: 26px;
    color: #106767;

    margin-top: 0;
}

.article-meta h2 {
    padding-top: 20px;
    margin-bottom: 15px;
}

.article-meta p {
    font-family: Georgia, "Century Schoolbook L", serif;
    font-size: 18px;
    color: #333333;
}

.article-meta .photo {
    width: 820px;
    margin-top: 110px;
    margin-bottom: 50px;
}

.article-meta .photo .meta {
    margin-bottom: 10px;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 12px;
    color: #525559;
}

.article-meta .photo .meta span {
    margin-right: 45px;
}

.article-meta .photo img {
    position: relative;
    left: -40px;
    z-index: 2;
}

.article h3 {
    font-family: Georgia, "Century Schoolbook L", serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #106767;
    margin-top: 25px;
}

.article h3 {
    font-family: Georgia, "Century Schoolbook L", serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #106767;
    margin-top: 25px;
}

.article p {
    font-family: Georgia, "Century Schoolbook L", serif;
    font-size: 17px;
    color: black;
    margin-top: 10px;
}

.article a {
    color: #106767;
    text-decoration: none;
}

.article a:hover .title {
    color: #3ca2a2;
    text-decoration: underline;
}

.article blockquote {
    margin: 30px 0;
    padding-left: 25px;
    border-left: 1px solid black;
}

.article blockquote * {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 22px;
    color: #333333;
    line-height: 28px;
    margin-top: 0;
}

.article .gallery-slider {
	overflow: hidden;
    width: 820px;
    position: relative;
    left: -40px;

    margin: 50px 0 25px;
}

.article .gallery-slider .caroufredsel_wrapper {
    width: 820px !important;
}

.gallery-slider .pagination {
    text-align: center;
    position: relative;
    /*left: 37px;*/
}

.gallery-slider .pagination a {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #b3b3b3;
    margin-top: 30px;
    margin-left: 23px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.gallery-slider .pagination .selected {
    background: #106767;
}

.gallery-slider .pagination a:first-child {
    margin-left: 0;
}

.gallery-slider .pagination span {
    display: none;
}

.gallery-slider .prev-block,
.gallery-slider .next-block {
    display: inline-block;
    width: 50%;
    height: 463px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}

.gallery-slider .next-block {
    right: 0;
    left: auto;
}

.gallery-slider .prev {
    position: absolute;
    left: 120px;
    bottom: -7px;
    z-index: 1;
}

.gallery-slider .next {
    position: absolute;
    right: 120px;
    bottom: -7px;
    z-index: 1;
}

.article-footer {
    line-height: 30px;
    margin: 100px 48px 150px 42px;

    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    color: #525559;
}

.article-footer a {
    color: #106767;
    text-decoration: none;
}

.section.secondary .article {
    margin-top: 20px;
}

.article-header h2 {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 26px;
    font-weight: normal;
    color: #106767;
}

.news-block {
    width: 740px;
    float: left;
    margin: 0 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #dadada;
    text-decoration: none;
    position: relative;
    left: 2px;
}

.news-block:first-child {
    padding-top: 0;
    border-top: none;
}

.news-block h3,
.news-block h3 a {
    font-family: Georgia, "Century Schoolbook L", serif;
    font-size: 18px;
    color: #525559;
    font-weight: normal;
    text-decoration: none;
    margin-bottom: 60px;
}

.article .tags {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    color: #525559;
}

.article .tags a,
.news-block .tags a {
    color: #106767;
    text-decoration: none;
}

.news-block .view,
.news-block .date {
    float: none;
}

.news-block .view {
    margin-left: 60px;
}

.news-block > img,
.news-block > a:first-child {
    float: left;
    margin-right: 22px;
}

.content .section.section-news {
    overflow: auto;
}

.pagination-block {
    /*width: 100%;*/
    float: right;
    min-height: 50px;

    margin-top: 95px;
    position: relative;
    right: 40px;
}

.pagination-block ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-block li {
    float: left;
}

.pagination-block span,
.pagination-block a {
    margin: 0 10px;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    color: #525559;
    text-decoration: none;
}


.pagination-block em.current,
.pagination-block span.current {
    background: #efefef;
    padding: 3px 7px;
    margin: 0 8px;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    color: #106767;
    text-decoration: none;
}

.object-id {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    color: #959595;
}

.article-header.modified-border {
    border: none;
}

.detailed-info {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
}

.detailed-info .column.left {
    width: 430px;
    float: left;
    margin-right: 60px;

    min-height: 220px;
}

.detailed-info table {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 18px;
    color: #525559;
    position: relative;
    top: 25px;
}

.detailed-info td:first-child {
    width: 200px;
}

.detailed-info tr {
    height: 30px;
}

.detailed-info td:first-child + td {
    color: #106767;
}

.map-details a {
    display: inline-block;
    background: url(../images/arrow-link.png) right 9px no-repeat;
    padding-right: 10px;

    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    color: #959595;
}

.map-details a span {
    border-bottom: 1px dotted #959595;
}

.detailed-info .phone {
    float: right;

    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 16px;
    color: #525559;

    margin-top: 30px;
}

.detailed-info .phone span {
    font-weight: bold;
    font-size: 18px;
    color: #106767;
}

.promo-links {
    width: 95%;
    float: left;
    margin: 20px 15px 30px;

    text-align: center;
}

.link-favourite {
    background: url(../images/icon-link-favourite.jpg) left center no-repeat;
    padding-left: 24px;
}

.dotted-link.link-remove-favourite span {
    border-bottom: 1px dotted #959595;
    color: #959595;
}

.link-remove-favourite {
    background: url(../images/icon-link-remove-favourite.png) left center no-repeat;
    padding-left: 24px;
}

.link-call {
    display: inline-block;
    height: 25px;
    background: url(../images/icon-link-call.jpg) left top no-repeat;
    padding-left: 20px;
}

.link-request {
    background: url(../images/icon-link-request.jpg) left top no-repeat;
    padding-left: 25px;
}

.dotted-link {
    font-family: Georgia, "Century Schoolbook L", serif;
    font-style: italic;
    font-size: 16px;
    color: #106767;
}

.info .dotted-link {
    text-decoration: none;
}

.dotted-link span {
    border-bottom: 1px dotted #106767;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.detailed-info-text {
    width: 100%;
    float: left;
    margin-top: 40px;
    margin-bottom: 80px;
}

.detailed-info-text h3 {
    font-size: 18px;
        margin-top: 30px;
}

.request-block .info {
    font-family: Georgia, "Century Schoolbook L", serif;
    font-style: italic;
    font-size: 18px;
    color: #525559;
}

.input-container {
    margin-top: 10px;
}

.input-container input[type="text"] {
    width: 473px;
    height: 39px;
    padding-left: 15px;

    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    color: black;
}

.input-container label {
    font-family: Georgia, "Century Schoolbook L", serif;
    font-style: italic;
    font-size: 14px;
    color: #525559;
    cursor: pointer;
}

.input-container textarea {
    width: 97.1%;
    height: 186px;
    padding: 10px;
}

.submit-container.modified,
.request-block .submit-container {
    margin-top: 10px;
}

.request .submit-container {
    margin-top: 10px;
        position: relative;
        left: 5px;
}

.submit-container.modified input[type="submit"],
.request .submit-container input[type="submit"],
.request-block .submit-container input[type="submit"] {
    height: 40px;
    width: auto;
    background: url(../images/bg-submit.jpg) left top repeat-x;
    padding: 0 18px;

    border: 1px solid #106767;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    font-family: Georgia, "Century Schoolbook L", serif;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    color: white;

    line-height: inherit;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.sidebar .article-prev {
    margin: 30px 0 0 0;
    float: none;
    display: block;
}

.article .order {
    width: 238px;
    float: left;
    margin-top: 0;
    margin-left: 15px;
}

.article .order:first-child {
    margin-left: 0;
}

sup {
    position: relative;
    font-size: 50%;
    top: -6px;
}

.popup {
    display: none;
    width: 758px;
    background: white;
    padding: 30px 40px 40px;

    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -379px;
    z-index: 999;

    box-shadow: 0 0 7px 0 black;
    -moz-box-shadow: 0 0 7px 0 black;
    -webkit-box-shadow: 0 0 7px 0 black;

}

.closePopup {
    float: right;
    margin-bottom: 20px;

    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #959595;
    border-bottom: 1px dotted #959595;

    cursor: pointer;
}

.closePopup:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.closePopup i {
    font-style: normal;
}

#bg-overlay {
    display: none;
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 998;

    opacity: 0.6;
    filter: alpha(opacity=60);
}

.hidden {
    display: none;
}

.journal-header {
    border-color: #333333 !important;
}

.sub-menu {
    width: 100%;
    float: left;
    margin: 30px 40px;

    position: relative;
    z-index: 2;
}

.sub-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sub-menu li {
    float: left;
    margin-left: 59px;
}

.sub-menu li:first-child {
    margin-left: 0;
}

.sub-menu a {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 16px;
    color: black;
    border-bottom: 1px dotted black;
    text-decoration: none;
}

.article-main .category {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 16px;
    margin-bottom: 14px;
}

.article-prev .category {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 16px;
    color: black;
    margin: 7px 0 9px;
}

.journal .article-prev {
    display: block;
    float: none;
    margin-left: 0;
}

.journal .column {
    width: 234px;
    float: left;
    margin-left: 21px;
}

.journal .column.left {
    margin-left: 0;
}

.article-footer.journal {
    width: 100%;
    float: left;
    margin: 30px 0 10px;
    text-align: center;
}

.article-footer.journal a {
    font-family: Georgia, "Century Schoolbook L", serif;
    font-style: italic;
    font-size: 18px;
    color: #106767;
    border-bottom: 1px dotted #106767;
}

.journal .text-block {
    min-height: 316px;
    position: relative;
}

.zaglushka blockquote {
    width: 390px;
    float: right;
    text-align: right;
    margin: 0;
    padding: 0;

    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 20px;
    color: black;
}

.zaglushka .who {
    width: 320px;
    float: right;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    color: #a7a7a7;
    text-align: right;
    margin-top: 30px;
}

.zaglushka .article p {
    font-family: Georgia, "Century Schoolbook L", serif;
    font-size: 22px;
    font-style: italic;
    color: black;
}

.zaglushka .article a {
    text-decoration: underline;
}

.contacts .article-header h2 {
    color: #333333;
}

.contacts h2 {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #333333;
    border-bottom: 1px solid #000000;

    margin-bottom: 37px;
    margin-top: 60px;
    padding-bottom: 3px;
}

.contacts h2:first-child {
    margin-top: 0;
}

.p-block {
    margin-top: 40px;
}

.p-block p {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    color: #050505;
}

.p-block .block-name {
    text-transform: uppercase;
}

.contacts .map {
    position: relative;
    left: -40px;
    width: 820px;

    margin-top: 40px;
}

.article-con p {
    margin-top: 0;
}

.article-con p:first-child {
    margin-top: 10px;
}

.social_button_tweet > a {
    font-family: Tahoma, Geneva, Kalimati, sans-serif !important;
    font-size: 14px !important;
    color: #106767 !important;
    text-decoration: none !important;
}

.social_button_fb,
.social_button_vk,
.social_button_surf,
.social_button_tweet {
    display: inline-block !important;
}

#vk_like {
    height: auto !important;
}

.social_button_fb {
    min-width: 120px !important;
}

.social_button_vk,
.social_button_surf {
    min-width: 100px !important;
}

.social_button_surf > iframe {
    width: 100px !important;
}

body .article-header .social {
    top: 0;
}

.form-container {
    width: 360px;
}

.form-container .row-container {
    margin-top: 24px;
}

.form-container label {
    display: block;
    font-family: Tahoma;
    font-size: 14px;
    color: #959595;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    height: 33px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #e2e2e2;

    font-family: Tahoma;
    font-size: 16px;
    color: black;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.form-container textarea {
    height: 152px;
    width: 100%;
    padding: 10px;
    border: 1px solid #e2e2e2;

    font-family: Tahoma;
    font-size: 16px;
    color: black;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus,
.form-container textarea:focus {
    box-shadow: 0 0 5px 0 #86d6d6;
    -moz-box-shadow: 0 0 5px 0 #86d6d6;
    -webkit-box-shadow: 0 0 5px 0 #86d6d6;
}

.form-container a {
    font-family: Tahoma;
    font-size: 12px;
    color: #135d5f;
    text-decoration: none;
    border-bottom: 1px dotted #135d5f;
}

.links-container {
    margin-top: 15px;
}

.links-container a {
    float: right;
}

.links-container .separator {
    float: right;
    margin: 0 10px;
    position: relative;
    top: -3px;
}

.submit-container {
    margin-top: 70px;
}

.info-container {
    margin-top: 30px;
    font-family: Tahoma;
    font-size: 14px;
    color: #525559;
}

.submit-container input[type="submit"] {
    width: auto;
    height: 26px;
    line-height: 26px;
    background: url(../images/bg-submit2.jpg) left top repeat-x;
    padding: 0 20px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    box-shadow: 1px 1px 3px 1px #c5c5c5;
    -moz-box-shadow: 1px 1px 3px 1px #c5c5c5;
    -webkit-box-shadow: 1px 1px 3px 1px #c5c5c5;

    border-bottom: 1px solid #9b9b9b;
    border-top: 0;
    border-left: 0;
    border-right: 0;

    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    color: #1b5063;
}

.profile-links {
    margin-top: 40px;
}

.profile-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.profile-links li {
    margin-top: 10px;
}

.profile-links a {
    font-family: Tahoma;
    font-size: 16px;
    color: #135d5f;
    text-decoration: none;
    border-bottom: 1px dotted #135d5f;
}

.profile-links .current a,
.profile-links li {
    font-family: Tahoma;
    font-size: 16px;
    color: #525559;
    border-bottom: 0;
}

.section.contacts {
    margin-top: -17px;
}

.password.popup {
    width: 410px;
    height: 300px;

    top: 40px;
    margin-left: 50px;
}

.popup .form-container {
    width: 100%;
    margin: 0 auto;
}

.form-header {
    font-family: Tahoma;
    font-size: 18px;
    font-weight: normal;
    color: black;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

.closePopup.icon {
    width: 17px;
    height: 17px;
    background: url(../images/bg-closePopup.png) left top no-repeat;
    border-bottom: 0;

    position: absolute;
    top: 15px;
    right: 15px;
}

.closePopup.icon i {
    display: none;
}

.bg-part {
    width: 19px;
    height: 19px;
    background: url(../images/bg-popup-part.png) left top no-repeat;
    position: absolute;
    right: 105px;
    top: -19px;
    z-index: 2;
}

.section.profile-card {
    margin-top: -37px;
}

.section.profile-card .view {
    position: relative;
    top: 10px;
}

.profile-info {
    margin-top: 25px;
}

.profile-image {
    float: left;
}

.profile-image img {
    border: 1px solid #e2e2e2;
}

.profile-table {
    margin-left: 200px;
}

.profile-table h3 {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: normal;
    color: #135d5f;
    font-style: normal;
    text-transform: uppercase;
}

.profile-table p {
    font-family: Tahoma;
    font-size: 14px;
    color: #959595;
}

.profile-table table {
    margin-top: 15px;
}

.profile-table tr {
    height: 22px;
}

.profile-table td {
    font-family: Tahoma;
    font-size: 14px;
    color: black;
}

.profile-table td:first-child {
    width: 70px;
    color: #959595;
}

.profile-edit-links {
    float: right;
    position: relative;
    top: -15px;
}

.profile-edit-links a {
    font-family: Tahoma;
    font-size: 12px;
    color: #135d5f;
    padding-left: 20px;
}

.profile-edit-links p:first-child a {
    background: url(../images/bg-link1.png) left center no-repeat;
}

.profile-edit-links p:first-child + p a {
    background: url(../images/bg-link2.png) left center no-repeat;
}

.personal-info {
    font-family: Tahoma;
    font-size: 14px;
    color: #050505;
}

.personal-info h3 {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #525559;

}

.clearfix {
    clear: both;
}

.more-links {
    margin-top: 30px;
}

.more-links .link-block {
    margin-bottom: 20px;
}

.more-links .link-block p {
    line-height: 18px;
    margin-top: 0;
}

.more-links .link-block a {
    font-family: Tahoma;
    font-size: 14px;
    color: #135d5f;
}

.profile-avatar {
    float: right;
    width: 159px;
}

.profile-avatar img {
    border: 1px solid #e2e2e2;
}

.profile-avatar p {
    font-family: Tahoma;
    font-size: 12px;
    color: #959595;
        margin: 15px 0;
}

.file-input-container {
    width: 159px;
    height: 32px;
    position: relative;
    overflow: hidden;
}

.file-input-container input[type="file"] {
    filter: alpha(opacity=1);
    opacity: 0.01;
    cursor: pointer;
    font-size:72px;
    
    position:absolute;
    right:0;
}

.file-input-container .image {
    height: 32px;
    line-height: 32px;
    background: #959595;
    text-align: center;

    font-family: Tahoma;
    font-size: 14px;
    color: white;
}

.ie8 .form-container input[type="checkbox"] {
  display: inline-block;
}

.ie8 .form-container input[type="checkbox"] + label {
  background: none;
}

.form-container input[type="checkbox"] {
  display: none;
}

.form-container input[type="checkbox"] + label {
  background: url(../images/checkbox-sprite.png) right top no-repeat;
    padding-right: 30px;

  font-family: Tahoma;
  font-size: 14px;
  color: #8f8f8f;
}

.form-container input[type="checkbox"]:checked + label {
  background-position: right bottom;
}

.form-container label.modified-width {
    display: inline-block;
    cursor: pointer;
}

.row-container.select .jqselect {
    width: 100% !important;
}

.row-container.select .jq-selectbox__select {
    width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.submit-container.modified-margin {
    margin-top: 30px;
}

.form-container.modified-margin-top {
    margin-top: 60px;
}

.meta-links a {
    float: right;
    margin-left: 20px;

    font-family: Tahoma;
    font-size: 12px;
    color: #135d5f;
    border-bottom: 1px dotted #135d5f;

    position: relative;
    top: 5px;
}

.modified-bordered {
    font-family: Tahoma;
    font-size: 12px;
    color: #135d5f;
    border-bottom: 1px dotted #135d5f;
}

.objects {
    margin: 20px 0;
    font-family: Tahoma;
    font-size: 12px;
}

.objects table {
    width: 100%;
}

.objects th {
    font-weight: normal;
}

.sort-descended,
.sort-ascended {
    padding-right: 13px;
}

.sort-descended {
    background: url(../images/raion-arrow.png) right center no-repeat;
}

.sort-ascended {
    background: url(../images/raion-arrow2.png) right center no-repeat;
}

.money-name {
    display: inline-block;
    font-family: Tahoma;
    font-size: 12px;
    color: #818181;
    margin: 0 2px;
}

.objects thead tr {
    height: 32px;
    background: #f9f9f9;
    color: #135d5f;
}

.objects th,
.objects td {
    text-align: center;
        position: relative;
}

.objects td {
    vertical-align: top;
}

.objects th:first-child {
    width: 7%;
}

.objects td:first-child {
    vertical-align: middle;
    padding: 15px 0 0;
}

.objects th:first-child + th {
    width: 10%;
}

.objects td:first-child + td {
    vertical-align: middle;
    padding: 18px 0 0;
}

.objects th:first-child + th + th {
    width: 37%;
}

.objects td:first-child + td + td {
    text-align: left;
}

.objects th:first-child + th + th + th {
    width: 28%;
}

.objects td:first-child + td + td + td {
    font-weight: bold;
}

.objects th:first-child + th + th + th + th {
    width: 20%;
}

.objects td:first-child + td + td + td + td {
    font-weight: bold;
    text-align: left;
}

.objects td:first-child + td + td + td + td p:first-child {
    margin-top: 0;
}

.objects tbody td {
    height: 90px;
}

.objects tbody tr {
    border-bottom: 1px solid #e6e5e5;
}

.objects tbody td {
    padding: 27px 20px 0;
}

.objects .links {
    /*position: absolute;*/
    bottom: 10px;
}

.highlightened {
    color: #818181;
    font-weight: normal;
}

.objects h3,
.objects h3 a {
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #135d5f;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

.objects p {
    font-family: Tahoma;
    font-size: 12px;
    margin-top: 8px;
}

.objects .time {
    font-family: Tahoma;
    font-size: 12px;

}

.objects .links a {
    font-family: Tahoma;
    font-size: 12px;
    color: #818181;
    margin-right: 20px;
    padding-left: 15px;
}

.objects.modified th.first {
    width: 7%;
}

.objects.modified th.second {
    width: 12%;
}

.objects.modified th.third {
    width: 35%;
}

.objects.modified th.fourth {
    width: 8%;
}

.objects.modified th.fifth {
    width: 9%;
}

.objects.modified th.sixth {
    width: 11%;
}

.objects.modified th.seventh {
    width: 18%;
}

.objects.modified td.third {
    padding: 27px 0 0 20px;
}

.objects.modified td.third > div {
    height: 90px;
    position: relative;
}

.objects.modified td.fourth,
.objects.modified td.fifth {
    text-align: center;
    font-weight: normal;
    font-family: Tahoma;
    font-size: 12px;
    color: black;
}

.objects.modified td.sixth {
    text-align: center;
    font-weight: bold;
    padding: 27px 0 0;
}

.objects.modified td.seventh {
    text-align: left;
    padding: 27px 0 0 27px;
}

.objects.modified td.seventh p:first-child {
    margin-top: 0;
    font-weight: bold;
}

.objects.modified .links {
    /*position: relative;*/
    /*top: 25px;*/
    bottom: 5px;
}

.link-edit {
    background: url(../images/link-edit.png) left center no-repeat;
}

.link-remove {
    background: url(../images/link-remove.png) left center no-repeat;
    margin-right: 0 !important;
}

.link-track {
    background: url(../images/link-track.png) left center no-repeat;
    padding-left: 18px !important;
    margin-right: 5px !important;
}

.views-number {
    color: black;
    font-weight: normal;
}

.profile .meta {
    font-family: Tahoma;
    font-size: 12px;
    color: #818181;
}

.get-news {
    margin: 20px 0 60px;
}

.get-news label {
    font-family: Tahoma;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}

.get-news input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.get-news input[type="submit"] {
    float: none;
    margin-left: 40px;
}

.form-container.modified {
    width: 510px;
}

.form-container.modified input[type="text"],
.form-container.modified input[type="password"] {
    width: 360px;
}

.form-container.modified .row-container.select .jqselect,
.form-container.modified .row-container.select .jq-selectbox__select {
    width: 360px !important;
}

#forAgents {
    display: none;
}

.input-set {
    width: 100%;
    float: left;
        margin-top: 60px;
}

.input-set:first-child {
    margin-top: 0;
}

.input-set h3 {
    margin-top: 0;
    margin-bottom: 40px;
        font-family: Tahoma;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        color: #333333;
}

.input-set .input-row {
    width: 100%;
    float: left;
        margin-top: 30px;
}

.input-set .input-row:first-child,
.input-set h3:first-child + .input-row {
    margin-top: 0;
}

.input-set .jq-selectbox__select {
    width: 205px !important;
}

.input-set input[type="text"] {
    width: 205px;
    height: 28px;
        border: 1px solid #e7e7e7;

        padding: 0 10px;

        font-family: Tahoma;
        font-size: 14px;
        color: black;

        position: relative;
        top: 1px;
}

input[type="text"].width-small {
    width: 70px !important;
}

input[type="text"].width-half {
    width: 76px !important;
}

input[type="text"].width-full {
    width: 462px !important;
}

.input-set .width-small .jq-selectbox__select {
    width: 85px !important;
}

.input-row .margin-left,
.input-row .margin-left + .jq-selectbox {
    margin-left: 26px;
}

.input-row .label {
    font-family: Tahoma;
    font-size: 15px;
    color: #525559;
}

.input-row .label span {
    color: #d20505;
    font-size: 12px;
}

.question {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url(../images/bg-question.png) left center no-repeat;
        position: relative;
        top: 9px;
        z-index: 101;
            cursor: pointer;
}

.input-set .links {
    text-align: right;
    font-family: Tahoma;
    font-size: 14px;
    color: #525559;
}

.input-set .links a {
    color: #135d5f;
        border-bottom: 1px dotted #135d5f;
}

.input-set.map-set {
    margin-top: 30px;
}

.input-set.map-set .label {
    font-family: Tahoma;
    font-size: 14px;
    color: #525559;
}

.button-submit {
    display: inline-block;
    width: auto;
    height: 25px;
    line-height: 26px;
    background: url(../images/bg-submit2.jpg) left top repeat-x;
    padding: 0 20px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    box-shadow: 1px 1px 3px 1px #c5c5c5;
    -moz-box-shadow: 1px 1px 3px 1px #c5c5c5;
    -webkit-box-shadow: 1px 1px 3px 1px #c5c5c5;

    border-bottom: 1px solid #9b9b9b;
    border-top: 0;
    border-left: 0;
    border-right: 0;

    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    color: #1b5063;
    text-decoration: none;
}

.input-set .subcolumn {
    float: left;
    width: 227px;
        margin-left: 26px;
}

.input-set .subcolumn p:first-child {
    margin-top: 0;
}

.input-set .subcolumn .input-row {
    margin-top: 20px;
}

.input-set .subcolumn .input-row:first-child {
    margin-top: 0;
}

.input-set h3:first-child + .subcolumn,
.input-set .subcolumn:first-child {
    margin-left: 0;
}

.label-text input {
    width: 50px !important;
    float: right;
}

.label-text label {
    float: left;
    font-family: Tahoma;
    font-size: 15px;
    color: #525559;
    line-height: 30px;
}

.label-text label span {
    color: #d20505;
    font-size: 12px;
}

.input-row.pull-top {
    position: relative;
    top: -18px;
}

.checkbox-row {
    height: 15px;
        border-bottom: 1px dotted #959595;

        margin-top: 5px !important;
}

.checkbox-row label {
    background: white;

    font-family: Tahoma;
    font-size: 15px;
    color: #525559;
        padding-right: 5px;

        cursor: pointer;
}

.checkbox-row input {
    display: inline-block;
    width: 15px;
    float: right;
    background: white;
        position: relative;
        top: 2px;
        left: 6px;
        z-index: 1;
}

.checkbox-label {
    color: black !important;
}

.input-set textarea {
    max-width: 100%;
    width: 100%;
    height: 210px;
}

.file-button {
    clear: both;
    display: block;
    width: 32%;
    height: 152px;

    position: relative;
    top: 7px;
    overflow: hidden;

    border: 1px dotted #959595;

    cursor: pointer;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.file-button * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.file-button input[type="file"] {
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;

    cursor: pointer;
    font-size: 72px;
    position: absolute;
    right: 0;

    height: 152px;
    width: 100%;
    z-index: 2;
}

.file-button .image {
    width: 100%;
    height: 100%;
        padding-top: 34px;

        cursor: pointer;
        text-align: center;

        font-family: Tahoma;
        font-size: 56px;
        color: #818181;
}

.file-label {
    background: url(../images/bg-input-file.jpg) left center no-repeat;
        padding-left: 40px;

    font-family: Tahoma;
    font-size: 14px;
    color: #959595;
}

.info-set p {
    font-family: Tahoma;
    font-size: 14px;
    color: #333333;
}

.input-set .submit-row {
    text-align: center;
        margin-bottom: 100px;
}

.input-set .button-submit-modified {
    float: none;
    width: auto;
    height: 38px;
    line-height: 38px;
    background: url(../images/bg-input-set-submit.jpg) left top repeat-x;
    padding: 0 20px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    box-shadow: 1px 1px 3px 1px #c5c5c5;
    -moz-box-shadow: 1px 1px 3px 1px #c5c5c5;
    -webkit-box-shadow: 1px 1px 3px 1px #c5c5c5;

    border-bottom: 1px solid #9b9b9b;
    border-top: 0;
    border-left: 0;
    border-right: 0;

    font-family: Tahoma;
    font-size: 16px;
    font-style: normal;
    color: #1b5063;

    text-shadow: 0 1px 0 white;
}

.input-set .button-submit-modified:hover {
    background: url(../images/bg-input-set-submit.jpg) left top repeat-x;
    color: #1b5063;
}

.add-object.popup {
    display: block;
    width: 486px;
    height: 392px;
}

#bg-overlay.visible,
.popup.visible {
    display: block !important;
}

.add-object .form-header {
    margin-bottom: 50px;
}

.add-object .width-full {
    width: 100% !important;
}

.add-object .width-full-select {
    width: 226px !important;
}

.add-object input[type="text"].width-half {
    width: 99px !important;
}

.add-object input[type="submit"] {
    margin-top: 60px;
}

.map-full {
     -webkit-box-shadow: 0px 1px 2px #c7c7c7;
    -moz-box-shadow:    0px 1px 2px #c7c7c7;
    box-shadow:         0px 3px 6px #c7c7c7;
    margin-bottom: 2px;
}

.content.modified-full {
    width: 100% !important;
    background: white;
    
    box-shadow: 0 0 3px 0 #979797;
    -moz-box-shadow: 0 0 3px 0 #979797;
    -webkit-box-shadow: 0 0 3px 0 #979797;    
}

.content.modified-full .con-cen,
.content.modified-full .section {
    width: 100%;
    background: none;
}

.content.modified-full .article {
    width: 1020px;
}

.view-style {
    float: right;
}

.view-style .selected {
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: default;
}

.table-view {
    display: inline-block;
    width: 27px;
    height: 19px;
    background: url(../images/bg-table-view.png) left top no-repeat;
        cursor: pointer;
}

.list-view {
    display: inline-block;
    width: 27px;
    height: 19px;
    background: url(../images/bg-list-view.png) left top no-repeat;
        cursor: pointer;
}

.search-meta-info h2 {
    font-family: Tahoma;
    font-size: 18px;
    color: #333333;
    font-weight: normal;
        margin-bottom: 10px;
}

.search-meta-info h2 span {
    color: #135d5f;
}

.sort-by {
    background: #fafafa;
        padding: 10px;
    
    font-family: Tahoma;
    font-size: 12px;
    color: #959595;
}

.sort-by a {
    margin-left: 15px;
}

.search-footer {
    width: 100%;
    float: left;

    margin-top: 30px;
    padding-top: 10px;
        border-top: 1px solid #959595;
}

.search-header .search-pagination {
    margin-top: 30px;
    padding-bottom: 10px;
        border-bottom: 1px solid #959595;
}

.search-pagination {
    font-family: Tahoma;
    font-size: 12px;
    color: #545556;
}

.search-pagination span {
    position: relative;
    top: -5px;
}

.search-pagination .prev,
.search-pagination .next {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.search-pagination .prev {
    background: url(../images/bg-search-pagination-prev.png) left top no-repeat;
}

.search-pagination .next {
    background: url(../images/bg-search-pagination-next.png) left top no-repeat;
}

.result .text-block {
    float: left;
    width: 357px;
        margin-right: 30px;
        margin-top: -10px;

        position: relative;
}

.result h3,
.result h3 a,
.result h3 a:visited,
.popup.map-info > h2 {
    font-family: Tahoma;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #135d5f;
}

.link-map {
  background: url(../images/bg-link-map.png) left center no-repeat;
    padding-left: 20px;


  font-family: Tahoma;
  font-size: 12px;
  color: #959595 !important;
  text-decoration: none;
}

.link-map span {
    border-bottom: 1px dotted #959595;
}

.result p.text-info {
    height: 107px;
    overflow: hidden;
}

.result .text-info {
    font-family: Tahoma;
    font-size: 14px;
    color: #525559;
    line-height: 18px;
}

.result .links {
    margin-top: 20px;
        position: relative;
        top: -3px;
}

.result .links a {
    font-size: 14px;
}

.details-block > a img {
    float: left;
        margin-right: 30px;
        margin-top: 10px;
}

.details-block {
    padding-top: 10px;
}

.details-block .text-info p,
.result .details-block .text-info p a,
.result .details-block .text-info p a:visited {
    font-family: Tahoma;
    font-size: 12px;
    color: black;
        margin-bottom: 5px;
}

.details-block .text-info table,
.result .text-info table a,
.result .text-info table a:visited,
.popup-sub-block table,
.popup-sub-block table a,
.popup-sub-block table a:visited {
    font-family: Tahoma;
    font-size: 12px;
    color: black;
}

.details-block .text-info tr,
.popup.map-info .info-block tr,
.popup-sub-block tr {
    height: 25px;
}

.details-block .text-info td:first-child,
.popup.map-info .info-block td:first-child,
.popup-sub-block td:first-child {
    width: 78px;
    color: #959595;
}

.details-block .prices {    
    position: absolute;
    bottom: 27px;
    left: 680px;
    z-index: 1;
}

.details-block .prices p,
.popup.map-info .prices p,
.popup-sub-block .prices p {
    font-family: Tahoma;
    font-size: 12px;
    color: #135d5f;
}

.details-block .prices span,
.popup.map-info .prices span,
.popup-sub-block span {
    margin-left: 20px;
}

.details-block .big-price,
.popup.map-info .big-price,
.popup-sub-block .big-price {
    font-weight: bold;
    font-size: 18px;
    color: #135d5f;
        margin-left: 0 !important;
}

.result {
    width: 1058px;
    float: left;

    padding-top: 15px;
    padding-bottom: 30px;
        position: relative;


    position: relative;
    padding-left: 42px;
    left: -42px;
    z-index: 8;
}

.result:nth-child(even) {
    background: #fafafa;
}

.result:hover {
    width: 1058px;
    background: #fafafa;
    
    box-shadow: 0 0 5px 0 #979797;
    -moz-box-shadow: 0 0 5px 0 #979797;
    -webkit-box-shadow: 0 0 5px 0 #979797;
    
    position: relative;
    padding-left: 42px;
    left: -42px;
    z-index: 9;
    
    /*cursor: pointer;*/
}

.result:hover .bg-blank,
.result:nth-child(even) .bg-blank {
    background: url(../images/bg-blank2.png) left top repeat-x;
}

.result .prices,
.result:hover .prices {
    bottom: 27px;
    left: 722px;
}

.map-small.popup {
    width: 618px;
    height: 396px;
        padding: 15px;
    
    top: 100px;
}

.closePopup.icon.modified {
    width: 16px;
    height: 17px;
    background: url(../images/map-small-close.png) left top no-repeat;
    
    top: 0;
    right: -25px;
}

.request.popup {
    width: 485px;
}

.error {
    width: 232px;
    background: white;
    
    font-family: Tahoma;
    font-size: 14px;
    color: #ff0505;
    
    padding: 20px;
    
    position: absolute;
    right: -270px;
    
    border: 1px solid #fe1212;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    box-shadow: 0 0 7px 0 black;
    -moz-box-shadow: 0 0 7px 0 black;
    -webkit-box-shadow: 0 0 7px 0 black;
}

.error-part {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(../images/error-part.png) left top no-repeat;
        position: absolute;
        left: -26px;
        top: 20px;
        z-index: 2;
}

.map-details {
    position: relative;
}

.map-details #map {
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 1;
}

.map.popup #big_map {
    margin-top: 40px;
}

body .jq-selectbox__select {
    width: 158px !important;
}

#bulding {
    width: 300px;
}

.search.popup {
    /*display: block;*/
    width: 964px;
    /*height: 764px;*/
    height: 80%;
    min-height: 400px;
    max-height: 700px;
        padding: 40px;

        position: absolute;
        margin-left: -482px;
}

.search .header {
    padding-bottom: 15px;
    border-bottom: 1px solid #959595;
}

.search .header .tab {
    display: inline-block;
    float: left;
        margin-left: 60px;
        padding-bottom: 0;

        font-family: Tahoma;
        font-size: 18px;
        color: #106767;

        border-bottom: 1px solid #106767;

        cursor: pointer;

}

.search .header .current.tab {
    color: #525559;
    border-bottom: 0;
}

.search .header .tab:first-child {
    margin-left: 0;
}

.search .closePopup {
    width: 20px;
    height: 21px;
    background: url(../images/bg-closePopup-search.png) left top no-repeat;

    border-bottom: none;

    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
}

.search .closePopup i {
    display: none;
}

.search.popup .body {
    padding-top: 45px;
}

.search.popup .column {
    width: 32%;
    float: left;
        margin-left: 2%;
}

.search.popup .column.right {
    float: right;
}

.search.popup .column.left {
    margin-left: 0;
}

.search.popup .part-left .column.left {
    width: 49%;
}

.search.popup .part-left .column.center {
    width: 49%;
}

.search.popup .part-left {
    /*float: left;*/
    width: 64%;
        margin-right: 36%;
}

.search.popup .part-right {
    float: right;
    width: 34%;
}

.search.popup .part-right *,
.search.popup .part-right {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.search.popup .content {
    width: 100%;
}

.content.metro .sort-by {
    padding: 0;
    background: none;
}

.content.metro .sort-by a {
    font-family: Tahoma;
    font-size: 16px;
    color: #106767;
    border-bottom: 1px solid #106767;

    text-decoration: none;

    margin-left: 55px;
}

.content.metro .sort-by a.current {
    color: #525559;
    border-bottom: 0;
}

.content.metro .sort-by a:first-child {
    margin-left: 0;
}

.search-label {
    font-family: Tahoma;
    font-size: 14px;
    color: #525559;
        position: relative;
        top: -2px;
        left: -19px;

        cursor: pointer;
}

.column.right .search-label {
    left: -27px;
}

.search-label .icon {
    display: inline-block;
    font-size: 18px;
    color: #c1c1c1;
        margin-right: 10px;
}

.search.popup .body-header {
    margin-bottom: 20px;
}

.list-block {
    margin-top: 28px;
    line-height: 28px;
    font-family: Tahoma;
    font-size: 14px;
    color: #525559;
}

.list-block ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-block .list-name {
    display: inline-block;
}

.list-block label {
    cursor: pointer;
}

.list-block .jq-checkbox {
    background: url(../images/bg-search-popup-checkbox.png) left center no-repeat;
    border: 0;
    
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.list-block .jq-checkbox.checked {
    background: url(../images/bg-search-popup-checkbox-checked.png) left center no-repeat;
}

.list-block .jq-checkbox.checked span {
    display: none;
}

.list-block .jq-checkbox.checked + label {
    color: #106767;
}

.list-block label {
    position: relative;
    left: 2px;
    top: 2px;
}

.list-block label span {
    color: #c1c1c1;
}

.search.popup .body-content {
    /*height: 535px;*/
    height: 50%;
    /*overflow-y: scroll;*/
}

.search.popup .body-content .part-left,
.search.popup .body-content .part-right {
    height: 100%;
    overflow-y: scroll;
}

.search.popup .body .content {
    display: none;
}

.search.popup .body .content.current {
    display: block;
}

.js-scrollbar .jspTrack {
    width: 5px;
    background: white;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

        left: 0;

        border-right: 1px dotted black;
}

.js-scrollbar .jspVerticalBar {
    background: none;
}

.js-scrollbar .jspDrag {
    background: #525559;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

    position: relative;
    left: 3px;
}

.js-scrollbar .jspVerticalBar .jspArrow {
    width: 20px;
    height: 20px;
    background: url(../images/jspArrowUp.png) left top no-repeat;
        position: relative;
        left: -4px;
}

.js-scrollbar .jspVerticalBar .jspArrowDown {
    background: url(../images/jspArrowDown.png) left top no-repeat;
}

.search.popup .footer {
    margin-top: 20px;
        position: absolute;
        right: 40px;
        bottom: 40px;
        z-index: 1;
}

.search.popup .footer .buttons {
    float: right;
}

.search.popup input[type="reset"] {
    background: none;
    font-family: Tahoma;
    font-size: 14px;
    color: #1b5063;
    /*font-weight: bold;*/

    text-decoration: underline;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

    border: 0;

    cursor: pointer;

    margin-right: 20px;

    position: relative;
    top: 30px;

}

.search.popup input[type="submit"] {
    width: auto;
    display: inline-block;
    height: 40px;
    background: url(../images/bg-search-popup-submit.jpg) left top repeat-x;
        padding: 0 40px;

        border: 1px solid #106767;

        border-radius: 1px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;

        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;

        font-family: Tahoma;
        font-size: 18px;
        color: #fff;

}

.scrollup{
    display: none;
    width: 58px;
    height: 54px;

    position: fixed;
    bottom: 80px;
    left: 50%;
    margin-left: 552px;
    z-index: 29;
    
    background: url(../images/bg-scrollup.png) left top no-repeat;
}

.scrollup:hover {
    background: url(../images/bg-scrollup-hover.png) left top no-repeat;
}

#huge_map {
    width: 100%;
    height: 403px;
        position: relative;
}

.all-s.modified {
    margin-left: 60px;
}

#rooms-number {
    display: inline-block;
    margin-left: 53px;
}

#rooms-number .input-container {
    display: inline-block;
}

#rooms-number .input-container label {
    font-family: Tahoma;
    font-size: 16px;
    color: #080808;
    font-style: normal;
        position: relative;
        left: -3px;
}

#search .shadow,
#search-two .shadow {
    width: 100%;
    height: 2px;
    background: url(../images/bg-search-shadow.jpg) left top repeat-x;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        /*border-top: 1px solid #a9a9a9;*/

        box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.sort-by .sort-current span {
    color: #959595;
    border-bottom: 1px dotted #959595;
}

.page-404 {
    background: url('../images/bg-serch-all.jpg') repeat 0 0;
}

.container-404-main {
    width: 1100px;
        margin: 0 auto;

    background: url(../images/bg-404.png) right 40% no-repeat;
}

.subcontainer-404 {
    width: 705px;
        margin-left: 80px;
}

.page-404 #footer-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.container-404-main h1 {
    font-family: Tahoma;
    font-size: 94px;
    font-weight: normal;
    color: #959595;
        margin-bottom: 58px;
}

.container-404-main p {
    font-family: Georgia, Arial;
    font-size: 24px;
    color: #757575;
        margin-bottom: 34px;
}

.container-404-main a,
.container-404-main a:visited {
    color: #106767;
    text-decoration: none;
    border-bottom: 1px dotted #106767;
}

.subcontainer-404 {
    position: absolute;
    top: 50%;
    margin-top: -234px;
}

body .jq-selectbox.disabled .jq-selectbox__select {
    opacity: 0.35;
    filter: alpha(opacity=35);

    border: 1px solid #CCC;
    background: #f6f6f6;
    box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
    color: #52908f;
}

#rooms-number input[disabled],
#rooms-number input[disabled] + label,
.dynamic-link input[disabled],
.dynamic-link input[disabled] + label {
    opacity: 0.35;
    filter: alpha(opacity=35);
}

.selection-list {
    width: 100%;
    float: left;
    height: 100%;
        padding: 20px;

        border: 1px dotted gray;
}

#add-street {
    width: 500px;
    position: relative;
    left: 2px;
    top: 2px;
    z-index: 1;
        padding-right: 30px;
}

#street-button {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #8A8A8A;
        position: absolute;
        left: 470px;
        top: 3px;
        z-index: 2;

    background: none;
    border: none;

    cursor: pointer;
}

.social-block {
    float: right;
    width: 45%;

    position: relative;
    top: 17px;
}

.social-block p {
    margin: 0;
    font-family: Tahoma;
    font-size: 14px;
    color: #616060;
        margin-bottom: 15px;
}

.social-block .icon {
    text-align: center;
    margin-right: 40px;
}

.password.popup.modified {
    width: 330px;
}

.password.popup .social-block {
    width: 330px;
    float: left;
    background: #8a8a8a;
        margin-top: 20px;
        padding: 20px 40px;
        line-height: 20px;


        position: relative;
        left: -40px;

        text-align: center;
}

.password.popup .social-block p {
    color: #fff;
}

.password.popup .social-block .icon {
    margin: 0;
}

.result .question {
    float: right;
        position: relative;
        top: -1px;
}

.error.tip {
    display: none;
    width: 352px;
    border: 0;
    cursor: default;

        right: auto;
        left: 48px;
        top: -13px;

}

.error.tip.left {
    left: auto;
    right: 47px;
    top: -13px;
}

.error.tip .error-part {
    background: url(../images/error-part2.png) left top no-repeat;
}

.error.tip.left .error-part {
    background: url(../images/error-part2-left.png) left top no-repeat;

    left: auto;
    right: -26px;
}

.error p:first-child,
.error .error-part + p {
    margin-top: 0;
}

.error.tip p {
    color: #135d5f;
    font-size: 14px;
    font-family: Tahoma;
}

.map-links {
    width: 274px;
    height: 72px;
    background: white;
        padding: 10px;

        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 99;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.map-links a,
.map-links a:visited {
    display: inline-block;
    min-height: 22px;
        padding-left: 30px;
        padding-top: 3px;

    font-family: Georgia, Arial;
    font-size: 14px;
    font-style: italic;
    color: #939393;

    text-decoration: none;
}

.map-links a span {
    border-bottom: 1px dotted #939393;
}

.map-links p:first-child a {
    background: url(../images/bg-map-link1.png) left top no-repeat;
}

.map-links p:first-child + p a {
    background: url(../images/bg-map-link2.png) left top no-repeat;
}

.file-images {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    padding: 10px 20px 30px;
    border: 1px dotted #959595;
}

.file-images .images-container {
    display: inline-block;
    min-width: 5%;
    max-width: 32%;    
    height: 152px;
    /* float: left; */
    text-align: center;
        margin-right: 2%;
        margin-top: 10px;

        position: relative;
}

.file-images .images-container:first-child,
.file-images .file-label:first-child + .images-container {
    margin-left: 0;
}

.images-container .image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.images-container .images-handle {
    width: 100%;
    height: 100%;
    background: transparent;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
}

.images-container .images-close {
    width: 12px;
    height: 12px;
    background: url(../images/bg-images-close.png) left top no-repeat;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 3;

        cursor: pointer;
}

.no-margin-left {
    margin-left: 0 !important;
}

.width-227 {
    width: 225px;
        margin-bottom: 10px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #52908F; }

.view.modified {
    position: absolute;
    right: 20px;
    top: -6px;
    z-index: 2;

    background: #e6e6e6 url(../images/view.png) no-repeat 15px center;

    padding: 3px 10px 3px 35px;
}

.detailed-info-text .icons {
    margin-bottom: 10px;
}

.detailed-info-text .icons div[class*="icon"] {
    display: inline-block;
        margin-right: 10px;
}

.detailed-info-text .icons .icon-1 {
    width: 88px;
    height: 19px;
    background: url(../images/pent.png) left top no-repeat;
}

.detailed-info-text .icons .icon-2 {
    width: 155px;
    height: 19px;
    background: url(../images/vid.png) left top no-repeat;
}

.form-container.modified2 {
    width: 490px;
}

.form-container.modified2 input[type="text"],
.form-container.modified2 input[type="password"] {
    width: 100%;
}

.form-container.modified2 .icon {
    color: #d20505;
    font-size: 12px;
}

.form-container.modified2 .submit-container {
    margin-top: 50px;
}

.form-container.modified2 input[type="submit"] {
    height: 34px;
    background: url(../images/bg-submit-modified.jpg) left top repeat-x;
        font-family: Tahoma;
        font-size: 16px;
        color: #1b5063;
}

.popup.map-info {
    display: block;
    width: 416px;
    height: auto;
        padding: 20px 30px 30px;

        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
}

.popup-sub-block {
    width: 100%;
    float: left;
    position: relative;
}

.popup-sub-block p,
.popup-sub-block table {
    font-family: Tahoma;
    font-size: 12px;
    color: black;
}

.popup-sub-block p {
    margin-bottom: 5px;
}

.popup-sub-block .prices {
    position: absolute;
    left: 224px;
    bottom: -10px;
    z-index: 1;
}

.popup-sub-block > h2 {
    margin-bottom: 10px;
}

.popup-sub-block > h2,
.popup-sub-block > h2 a {
    font-family: Tahoma;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #135d5f;

    text-decoration: none;
}

.popup-sub-block > .idParagraph {
    margin-bottom: 15px;
}

.popup-sub-block > .idParagraph a,
.popup-sub-block > .idParagraph a:visited {
    font-family: Tahoma;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.popup-sub-block > .main-photo {
    float: left;
}

.popup-sub-block .info-block {
    margin-left: 224px;
    min-height: 160px;
}

.detailed-info.modified {
    padding-bottom: 80px;
}

.gallery-slider .slide {
    width: 820px;
    height: 550px;
    float: left;

    background: #ececec;
    text-align: center;
}

.detailed-info.modified table {
    font-size: 16px;
}

.detailed-info td:first-child {
    width: 44%;
}

.search-block .search-pagination {
    width: auto;
    margin: 0;
    padding: 0;
        border-bottom: 0;
}

.search-block {
    width: 100%;
    float: left;
        margin-bottom: 80px;
}

.search-block .result {
    width: 780px;
        padding-top: 0;
        padding-bottom: 20px;

        border-bottom: 1px solid #959595;

        left: -41px;
}

.search-block .result:hover {
    width: 780px;

    background: none;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.search-block .result .text-block {
    width: 292px;
        margin-top: 5px;
}

.search-block .idParagraph {
    font-family: Tahoma;
    font-size: 14px;
    color: #000;
        margin-bottom: 5px;
}

.search-block .result table {
    border-collapse: collapse;
    border: 0;

    font-family: Tahoma;
    font-size: 12px;
    color: #000;
}

.search-block .result tr {
    height: 24px;
}

.search-block .result td:first-child {
    width: 84px;
    color: #959595;
}

.search-block .result .table {
    font-family: Tahoma;
    font-size: 12px;
    color: #000;
}

.search-block .result .table span {
    display: inline-block;
    
    color: #959595;
    margin-right: 18px;
}

.search-block .result .prices,
.search-block .result:hover .prices {
    bottom: 12px;
    left: 582px;
}

.search-block .result .question {
    top: 42px;
}

.search-block .result:hover .question {
    right: 40px;
}

.search-block .prices .label {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold;
    color: #959595;
        margin-bottom: 0;
}

.search-block .search-footer {
    padding-top: 0;
    border-top: 0;
    margin-top: 10px;
}

.search-block .result:nth-child(even) {
    background: none;
}

.result .rub {
    font-family: Tahoma !important;
    font-size: 12px !important;
    font-weight: normal !important;
    color: #135d5f !important;
    margin-left: 5px !important;
}

.td2 {
    display: inline-block;
    color: #959595;
        margin-left: 20px;
        margin-right: 20px;
}

select.custom-select.managers,
.managers .jq-selectbox__select {
    width: 311px !important;
}

.managers + .submit-container input[type="submit"] {
    position: relative;
    left: -290px;

    height: 30px;
    background: url(../images/bg-submit-modified.jpg) left top repeat-x;
}

.profile-section {
    margin-top: 60px;
        border-bottom: 1px solid black;
}

.profile-section h3 {
    font-family: Tahoma;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    color: #000;
}

.profile-section table {
    width: 100%;
    border-collapse: collapse;

    font-family: Tahoma;
    font-size: 14px;
    color: #525559;
}

.profile-section tr {
    height: 52px;
}

.profile-section tr:nth-child(even) {
    background: #f5f5f5;
}

.profile-section td:first-child {
    width: 95%;
}

.profile-section td {
    padding: 0 25px;
}

.profile-section a {
    color: #106767;
    text-decoration: underline;
}

.profile-table.modified {
    margin-left: 0;
}

.managers-list {
    margin-top: 40px;
    margin-bottom: 60px;
}

.managers-list h3 {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #525559;
        margin-bottom: 7px;
}

.managers-list h3 a {
    font-size: 12px;
    color: #135d5f;
    text-decoration: none;
}

.managers-list a {
    font-family: Tahoma;
    font-size: 14px;
    color: #106767;
    text-decoration: underline;
}

.managers-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.managers-list li {
    margin-top: 5px;
}

.profile-section.modified {
    width: 820px;
        position: relative;
        left: -40px;
}

.profile-section.modified h3 {
    padding-left: 40px;
}

.profile-section.modified td:first-child {
    width: 52%;
    padding: 0 0 0 40px;
}

.profile-section.modified td:first-child + td {
    width: 35%;
    font-size: 12px;
}

.profile-section.modified td:first-child + td + td {
    width: 13%;
    padding: 0 40px 0 0;
}

.profile-section.modified td:first-child + td + td a {
    font-size: 12px;
    color: #0a0a0a;
}

#huge_map .ymaps-b-cluster-carousel {
    margin: 8px 32px 29px;
}

.result .links .link-request {
    position: relative;
    top: -1px;
}

.bg-blank {
    width: 100%;
    height: 60px;
    background: url(../images/bg-blank.png) left top repeat-x;
        position: absolute;
        left: 0;
        bottom: 30px;
        z-index: 2;
}

.details-block .text-info table td:first-child + td {
	width: 250px;
	position: relative;
}

.wrong-position {
    position: relative;
    top: 4px;
}