.search .header .tab br{
	display: none;
}
html.__no-scroll,
html.__no-scroll body {
	overflow: hidden;
}
.banner.__992px,
.banner.__992px-2 {
	display: none;
}
.banner.__540px{
	display: none;
}
.banner.__300px{
	display: none;
	padding: 0 10px;
	box-sizing: border-box;
}

.button-nav-menu{
	display: none;
}

/*main (_index.htm_)*/
@media (max-width: 1180px) {
	body {		
		box-sizing: border-box;
	}
	#header,
	.search,
	.search-two,
	/*.slider-wrap,
	#presentation_container,
	#presentation_container img*/
	#content-wrap,
	#footer,
	.l_container {
		padding: 0 20px;
		box-sizing: border-box;
	}
	.slider-wrap{
		/*margin: 0 20px;*/
		box-sizing: border-box;
	}
	#presentation_container{
		padding: 0 20px;
		box-sizing: border-box;
	}
	a.slidesjs-previous.slidesjs-navigation{
		left: 20px;
	}
	a.slidesjs-next.slidesjs-navigation{
		right: 20px;
	}

	#nav,
	#login{
		right: 20px;
	}	
}

@media (max-width: 1150px) {
	.slider-wrap{
		height: auto;
	}
	.desc {
		padding-bottom: 60px;
	}
}
@media (max-width: 1085px) {
	.desc {
		padding-top: 20px;
		padding-bottom: 40px;
	}
}

@media (max-width: 1115px) {
	#nav{
		top: 60px;
	}
	.nav .li-nav:nth-child(5) {
		clear: left;
	}
	.nav .li-nav-last,
	.nav .li-nav:nth-last-child(2) {
		margin-top: 10px;
		float: right;
		clear: left;
	}
}

@media (max-width: 1100px) {
	.article-main > img{
		width: 50%;
	}
	.dateview-main-article{
		left: calc(50% + 30px);
	}
}

@media (max-width: 1100px) {
	.article-main > img{
		width: 40%;
	}
	.dateview-main-article{
		left: calc(40% + 30px);
	}
}
@media (max-width: 992px) {
	.article-main > img{
		width: 48%;
	}
	.dateview-main-article{
		left: calc(48% + 30px);
	}
}

@media (max-width: 992px) {
	#sidebar,
	#sidebar_banner{
		min-height: initial;
		width: 100%;
		padding-left: 0;
	}
	#sidebar a.news{
		position: relative;
	}
	#sidebar a.news:after{
		display: block;
		content: "";
		width: 5px;
		height: 9px;
		background: url(../images/news-list/arrow.png) no-repeat left top;

		position: absolute;
		right: 15px;
		bottom: 18px;
		z-index: 2;
	}
	.content{
		width: 100%;
	}
}

@media (max-width: 992px) {
	.sidebar h1.title-sidebar,
	.sidebar a.title-sidebar,
	.sidebar div.title-sidebar,
	.sidebar div.title-sidebar a {
		height: auto;
		padding-top: 0;
		margin-top: 40px !important;
		box-sizing: border-box;
	}
	.sidebar h1.title-sidebar{
		padding-top: 40px;
	}

	.link-all-posts{
		text-align: right;
	}
}
@media (max-width: 992px) {
	#sidebar .banner.__992px {
		display: block;
		margin: 40px 0 20px;
		box-sizing: border-box;
	}
	#sidebar .banner{
		display: none;
	}
}

@media (max-width: 1080px) {
	.footer__links__list__item{
		margin-left: 13px;
	}
}

@media (max-width: 870px) {
	.nav .li-nav{
		/* margin-left: 42px; */
	}
	.nav .li-nav:nth-last-child(2){
		float: right;
	}
	.nav .li-nav:nth-last-child(3){
		margin-top: 10px;
		clear: left;
		float: right;
	}

	.nav .li-nav-last{
		margin-left: 20px;
	}
}

@media (max-width: 850px) {
	.form-search-filters > .__right{
		padding-left: 40px;
	}
}

@media (max-width: 992px) {
	#presentation_container img{
		width: 100%;
		height: auto;
		box-sizing: border-box;
	}
}

@media (max-width: 1180px) {
	.pc_item {
		height: 100%;
	}
}

@media (max-width: 800px) {
	.article-prev .__stock,
	.article-prev-last .__stock{
		top: 50px;
	}
}

@media (max-width: 990px) {
	.footer__links__list__item{
		margin-left: 4px;
		padding-left: 15px;
	}
}
@media (max-width: 900px) {
	.footer__links__list__item{
		margin-left: 2px;
		padding-left: 5px;
	}
}

@media (max-width: 980px) {
	.footer-bottom .__col{
		width: 47.5%;
	}
	.footer-bottom .__col.__2{
		margin-left: 0;
	}

	.footer-bottom .__col.__1{
		width: 100%;
		position: absolute;
		top: 100px;
		padding-bottom: 20px;
	}

	.footer-bottom{
		position: relative;
	}

	#footer p br{
		display: none;
	}
}

@media (max-width: 576px) {
	.banner.__540px{
		display: block;
		background: none;
		padding: 0 20px;

		position: relative;

		box-sizing: border-box;
	}
	.banner.__540px:after{
		display: block;
		content: "";
		width: 100%;
		height: 80px;
		background: #fff;

		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
	}
	.banner.__540px img{
		position: relative;
		z-index: 2;
	}

	.banner.__header{
		display: none;
	}
}

@media (max-width: 750px) {
	.form-search-filters > .__left{
		width: 100%;
		padding-top: 70px;
	}
	.form-search-filters > .__right{
		width: 100%;
		padding-left: 0;
		margin-top: -90px;
	}
}

@media (max-width: 760px) {
	.article-main .title {
		margin-left: calc(48% + 30px);
	}
	.article-main p {
		margin-left: calc(48% + 30px);
	}
	.dateview-main-article{
		position: static;
		margin-left: calc(48% + 30px);
		margin-top: 5px;
	}
}

@media (max-width: 620px) {
	.article-main > img{
		width: calc((100% - 36px) / 2);
		margin-right: 18px !important;
	}
	.article-main .title,
	.article-main p,
	.dateview-main-article{
		margin-left: calc((100% - 36px) / 2 + 18px);
	}

	.article-prev{
		/*width: 48%;
		margin-left: 4%;*/
		width: calc((100% - 36px) / 2 );
		margin-left: 36px;
	}
	.article-main + .article-prev,
	.article-prev:first-child {
		margin-left: 0;
	}
	.article.__no-main-article .article-prev:nth-child(3n+1) {
		margin-left: 0;
		clear: none;
	}
	.article.__no-main-article .article-prev:not(:first-child):nth-child(2n+1) {
		margin-left: 0;
		clear: left;
	}
	.article.__no-main-article .article-prev:not(:first-child):nth-child(2n) {
		/*margin-left: 4%;*/
		margin-left: 36px;
	}

	.article.__has-article-main .article-main + .article-prev,
	.article.__has-article-main .article-prev:nth-child(2n+2){
		margin-left: 0;
		clear: left;
	}
	.article.__has-article-main .article-prev:nth-child(3n+2):not(:nth-child(2n+2)){
		clear: initial;
		/*margin-left: 4%;*/
		margin-left: 36px;
	}

	.section.__journal .article .article-main,
	.section.__journal .article .article-main + .article-prev,
	.section.__journal .article .article-main + .article-prev + .article-prev{
		display: block !important;
	}
	.section.__journal .article.__has-article-main .article-prev{
		display: none;
	}

	.section.__journal .article .link-all-posts{
		/*display: none;*/
	}
}

@media (max-width: 700px) {
	.article-prev .__stock, .article-prev-last .__stock{
		top: 40px;
	}
}
@media (max-width: 620px) {
	.article-prev .__stock, .article-prev-last .__stock{
		top: 65px;
	}
}
@media (max-width: 550px) {
	.article-prev .__stock, .article-prev-last .__stock{
		top: 50px;
	}
}

@media (max-width: 760px) {
	.footer__links__list__item{
		margin-left: 0;
		padding-left: 0;
		margin-bottom: 25px;
		margin-right: 15px;
	}
}

@media (max-width: 650px) {
	.footer-bottom .__col {
		width: 100%;
		margin-left: 0;
		margin-bottom: 20px;
	}

	.footer-bottom .__col.__1 {
		top: 170px;
	}
}

@media (max-width: 380px) {
	#header, .search, .search-two, #content-wrap, #footer, .l_container{
		padding: 0 10px;
	}
	#presentation_container{
		padding: 0 10px;
	}
	a.slidesjs-previous.slidesjs-navigation{
		left: 10px;
	}
	a.slidesjs-next.slidesjs-navigation{
		right: 10px;
	}

	.form-search-filters > .__left{
		padding-top: 80px;
	}
	.form-search-8filters > .__right{
	}
	.form-search-filters > .__left .icon-arrow-down{
		display: none;
	}
}

@media (max-width: 320px) {
	.banner.__540px{
		display: none;
	}
	.banner.__300px{
		display: block;
	}
}

@media (max-width: 570px) {
	.slidesjs-control,
	.slidesjs-container{
		height: 340px !important;
	}
	#presentation_container img{
		height: 170px;
		object-fit: cover;
	}
	.desc{
		height: 170px;
		padding: 10px;
	}
	.desc h1{
		margin-bottom: 5px;
	}
	.slidesjs-pagination{
		display: none;		
	}

	a.slidesjs-next.slidesjs-navigation,
	a.slidesjs-previous.slidesjs-navigation{
		top: 25%;
	}
}

@media (max-width: 560px) {
	.article-main > img{
		width: 100%;
		margin-right: 0 !important;
		margin-bottom: 20px;
	}
	.article-main .title,
	.article-main p,
	.dateview-main-article{
		margin-left: 0;
	}
}

@media (max-width: 500px) {
	.article .article-prev {
		display: block;
		width: 100%;
		float: none;
		clear: both;
		margin-left: 0 !important;
		margin-bottom: 20px;
	}
	.article-prev .__stock, .article-prev-last .__stock{
		top: 50%;
		margin-top: -70px;
	}
}

@media (max-width: 740px) {
	#nav{
		width: calc(100% - 78px);
		min-height: calc(100% - 156px);
		position: fixed;
		background: #fff;
		top: 0;
		left: 0;
		z-index: 999;

		padding-top: 156px;

		border-right: 1px solid #dedede;
	}
	#nav .nav .li-nav,
	#nav .nav .li-nav-first,
	#nav .nav .li-nav-last,
	#nav .nav .li-nav-magazin{
		float: none;
		margin: 0;
		clear: both;
	}

	.nav .li-nav a,
	.nav .li-nav-first a,
	.nav .li-nav-last a,
	.nav .li-nav-magazin a {
		display: block !important;
		background: #f7f7f7;
		padding: 16px 37px;
		font-size: 16px;
		color: #424242 !important;
		text-transform: none;
		border-bottom: 1px solid #dedede;
	}
	.nav .li-nav-first a{
		border-top: 1px solid #dedede;
	}
		#login a:after,
		.nav .li-nav a:after,
		.nav .li-nav-first a:after,
		.nav .li-nav-last a:after,
		.nav .li-nav-magazin a:after{
			display: none !important;
		}

	#login{
		width: calc(100% - 78px);
		/*height: 100%;*/
		height: 104px;
		position: fixed;
		background: #fff;
		top: 0;
		left: 0;
		z-index: 1000;
		position: fixed;
		left: 0;
		margin: 0;

		border-right: 1px solid #dedede;
	}
	#login a{
		display: block;
		background: #f7f7f7;
		padding: 16px 37px;
		margin: 0;

		font-size: 16px;
		color: #424242;

		border-bottom: 1px solid #dedede;
	}
	#login a:before{
		display: none;
	}

	#login,
	#nav{
		left: -100%;
		transition: all 0.3s;
	}
	.__opened-nav-menu #login,
	.__opened-nav-menu #nav{
		/*left: -100%;*/
		left: 0;
		overflow-y: auto;
	}
	.button-nav-menu{
		display: inline-block;
	}
}

@media (max-width: 380px) {
	#logo img{
		width: 85%;
	}
	.button-nav-menu{
		right: 10px;
	}

	#nav,
	#login{
		width: calc(100% - 60px);
	}
}




/*filters*/
@media (max-width: 1180px) {
	.form-search-filters.__2:not(.__filters-cottage):not(.__filters-jk) > .__row:first-child > .__col.__2{
		width: calc(100% - 230px);
		padding-right: 0;
		padding-left: 134px;

		text-align: center;
	}

	.form-search-filters.__2:not(.__filters-cottage):not(.__filters-jk) > .__row:first-child > .__col.__2 > .form-group{
		text-align: left;
	}
	.form-search-filters.__2:not(.__filters-cottage):not(.__filters-jk) > .__row:first-child > .__col.__2 > .form-group:nth-child(2){
		float: right;
	}

	.form-search-filters.__2:not(.__filters-cottage):not(.__filters-jk) > .__row:first-child > .__col.__3{
		margin-top: 30px;
	}
	.form-search-filters.__2:not(.__filters-cottage):not(.__filters-jk) > .__row.__choices{
		float: right;
		width: calc(100% - 300px);

		position: relative;
		margin-top: -47px;
		margin-bottom: 10px;

		z-index: 2;
	}
	.form-search-filters.__2:not(.__filters-cottage):not(.__filters-jk) > .__row.__choices > .__col{
		margin-right: 94px;
		margin-left: 0;
		margin-bottom: 30px;
	}
	.form-search-filters.__2:not(.__filters-cottage):not(.__filters-jk) > .__row.__choices > .__col.__3{
		margin-right: 0;
	}
	.form-search-filters.__2:not(.__filters-cottage):not(.__filters-jk) > .__row.__choices > .__col.__4{
		margin-right: 141px;
	}
}
@media (max-width: 1030px) {
	.form-search-filters.__2 > .__row.__choices > .__col.__3{
		margin-right: 98px;
	}
}
@media (max-width: 990px) {
	.form-search-filters.__2 > .__row.__choices > .__col,
	.form-search-filters.__2 > .__row.__choices > .__col.__3,
	.form-search-filters.__2 > .__row.__choices > .__col.__4 {
		margin-right: 60px;
	}

	.search-two .form-search-filters.__2:not(.__filters-jk) > .__row:first-child > .__col.__2{
		padding-left: 40px;
	}

	.search-two .form-search-filters.__2:not(.__filters-jk) > .__row.__places{
		clear: both;
	}
}
@media (max-width: 860px) {
	.form-search-filters.__2 > .__row > .__col.__2 > .form-group:nth-child(2){
		margin-left: 20px;
	}
}
@media (max-width: 820px) {
	.form-search-filters.__2 > .__row:first-child > .__col.__2{
		padding-left: 20px;
	}
}

@media (max-width: 800px) {
	.form-search-filters.__2 > .__row:first-child > .__col.__2{
		clear: left;
		padding-left: 0 !important;
		width: 100%;		
	}
	.form-search-filters.__2 > .__row:first-child > .__col.__2 > .form-group:nth-child(1),
	.form-search-filters.__2 > .__row:first-child > .__col.__2 > .form-group:nth-child(2) {
		width: 100%;
		float: none;
		margin-left: 0;
		margin-top: 25px;
		padding-bottom: 30px;

		border-bottom: 1px solid #dedede;
	}

	.form-search-filters.__2 > .__row:first-child > .__col.__2{
		width: 100% !important;
	}
	.form-search-filters.__2 > .__row:first-child > .__col.__2 .form-group.__input-2-values > .__input-value-group{
		width: 46%;
		margin-left: 8% !important;
	}
	.form-search-filters.__2 > .__row:first-child > .__col.__2 .form-group.__input-2-values > .__input-value-group:first-child,
	.form-search-filters.__2 > .__row:first-child > .__col.__2 .form-group.__input-2-values > [class*="label"] + .__input-value-group{
		margin-left: 0 !important;
	}
	.form-group.__input-2-values > .__input-value-group > input{
		width: calc(100% - 25px) !important;
	}

	.form-search-filters.__2 > .__row:first-child > .__col.__3 .form-group.__checkboxes .base-label-2{
		margin-bottom: 15px !important;

	}

	.form-search-filters.__2 > .__row.__choices,
	.form-search-filters.__2:not(.__filters-cottage):not(.__filters-jk) > .__row.__choices{
		float: none;
		width: 100%;
		margin-top: 0;

		padding-bottom: 0;
		margin-bottom: 10px;
		border-bottom: 1px solid #dedede;
	}

	.form-group.__checkboxes > div:last-child{
		width: 100%;
	}
	.form-group.__checkboxes > div:last-child .input-container{
		width: 16%;
		float: left;
		margin-right: 5%;
		padding-left: calc(16% - 85px);
		box-sizing: border-box;
	}
	.form-group.__checkboxes > div:last-child .input-container:last-child{
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		text-align: right;
	}
	.form-group.__checkboxes > div:last-child .input-container:first-child{
		padding-left: 0;
		padding-right: 0;
	}
	.form-group.__checkboxes > div:last-child .input-container:nth-child(2){
		padding-left: 2%;
	}
	.form-group.__checkboxes > div:last-child .input-container:nth-child(4){
		padding-left: 6%;
	}
	.form-search-filters.__2 > .__row:first-child > .__col.__3{
		width: 100%;
		padding-bottom: 25px;
		margin-bottom: 20px;
		margin-top: 20px;
		border-bottom: 1px solid #dedede;
	}

	.form-search-filters.__2 > .__row.__choices > .__col{
		width: 50%;
		float: left;
		margin-right: 0 !important;
		margin-bottom: 34px;
	}

	.form-search-filters.__2 > .__row.__places > .__col{
		width: 100% !important;
		float: none;

		border-left: none;
		padding-left: 0;
		padding-bottom: 10px;
		padding-top: 10px;
		border-bottom: 1px solid #dedede;
	}
	.form-search-filters.__2 > .__row.__places > .__col:last-child{
		padding-bottom: 0;
		border-bottom: none;
	}

	.form-search-filters.__2 > .__row.__places label{
		margin-bottom: 10px;
	}

	.form-search-filters.__2 > .__row.__submit{
		margin-top: 10px;
		padding-top: 20px;
	}
	.form-search-filters.__2 > .__row.__submit .__result{
		display: none;
	}

	.form-search-filters.__2 > .__row.__submit button{
		margin-left: 30px;
	}
	.form-search-filters.__2 > .__row.__submit button:first-of-type{
		margin-left: 0;
	}
}

@media (max-width: 992px) {
	.popup.search .dynamic-link ul li .icon,
	.popup.search .selection-list li .icon{
		bottom: 2px;
	}

	.dynamic-link ul li .icon, .selection-list li .icon{
		width: 20px;
		height: 20px;		
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
	}

	.dynamic-link ul li .icon, .selection-list li .icon{
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		background: url(../images/filters/icon-delete.png) no-repeat left top;
	}
}

@media (max-width: 630px) {
	.form-group.__checkboxes > div:last-child .input-container:nth-child(2){
		padding-left: 2%;
	}
	.form-group.__checkboxes > div:last-child .input-container:nth-child(4){
		padding-left: 4%;
	}
	.form-group.__checkboxes > div:last-child .input-container{
		padding-left: 3%;
	}
}

@media (max-width: 400px) {
	.form-search-filters.__2 > .__row:first-child > .__col.__2 .form-group.__input-2-values > .__input-value-group{
		width: 100%;
		margin-left: 0 !important;
		margin-top: 20px;
	}
	.form-search-filters.__2 > .__row:first-child > .__col.__2 .form-group.__input-2-values > .__input-value-group:nth-child(2){
		margin-top: 10px;
	}
}
@media (max-width: 360px) {
	.form-group.__checkboxes > div:last-child .input-container:nth-child(2){
		padding-left: 1%;
	}
	.form-group.__checkboxes > div:last-child .input-container:nth-child(4){
		padding-left: 2%;
	}
	.form-group.__checkboxes > div:last-child .input-container{
		padding-left: 1.5%;
	}
}
@media (max-width: 330px) {
	.form-group.__checkboxes > div:last-child .input-container{
		padding-left: 1px !important;
	}
	.form-group.__checkboxes > div:last-child .input-container:first-of-type{
		padding-left: 0 !important;
	}
}

@media (max-width: 450px) {
	.form-search-filters.__2 > .__row.__choices > .__col{
		width: 100%;
		float: none;
	}
}

@media (max-width: 500px) {
	.form-search-filters.__2 > .__row.__submit button{
		display: block;
		margin: 0 auto 10px !important;
	}
}




/*.search.popup*/
@media (max-width: 920px) {
	.search.popup .base-button-cancel{
		display: block;
		margin-bottom: 10px;
		padding-right: 6px;
		float: right;
	}
	.search.popup .base-button-1 {
		display: block;
		margin-right: 0;
		padding-right: 0;

		clear: both;
	}
}

@media (max-width: 910px) {
	.search.popup{
		padding-top: 60px;
	}

	.search.popup .part-right{
		display: none;
	}
	.search.popup .column{
		width: 100% !important;
		float: none;
		box-sizing: border-box;
	}
	.search.popup .part-left{
		width: 100%;
		overflow-x: hidden;
	}

	.search.popup .body-header .column.left{
		width: 100%;
	}

	.search.popup .base-button-cancel,
	.search.popup .base-button-1{
		display: inline-block;
		vertical-align: middle;
		float: none;
		margin-left: 10px;
	}
	.search.popup .base-button-cancel{
		padding-top: 10px;
	}
	.search.popup .footer .buttons{
		float: none;
	}
	.search.popup .footer{
		width: 100%;
		left: 0;
		right: auto;
		bottom: 20px;
		text-align: center;
	}
	.search.popup:after{
		display: none;
	}
}
@media (max-width: 480px) {
	.search .header .tab {
		height: 60px;
		width: 33.33%;
		line-height: 40px;
		padding: 10px 20px;
		box-sizing: border-box;

		text-align: center;
	}
	.search .header .tab:nth-child(3){
		line-height: 1.4;
		text-align: left;
		font-size: 14px;
		text-align: center;
	}

	.search.popup{
		position: fixed;
		width: 100%;
		max-width: 100%;
		height: 100%;
		top: 0 !important;
		left: 0;

		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	.search .header .tab br{
		display: inline;
	}
	#street-button{
		left: 91%;
		box-sizing: border-box;
	}
}

@media (max-width: 768px) {
	.search.popup{
		position: fixed;
		left: 0 !important;
		top: 0 !important;
		width: 100%;
		max-width: 100%;
		height: 100%;

		-webkit-transform: none;
		-moz-transform: none;
		transform: none;

		margin: 0;
	}

	.search.popup .body {
		height: calc(100% - 96px);
	}
	.search.popup .body > form{
		height: 100%;
	}
	.search.popup .content{
		height: 100%;
	}
	.search.popup .body .content .body-content{
		height: 100% !important;
	}
	.search.popup .body .content.buildings .body-content,
	.search.popup .body .content.streets .body-content{
		padding-bottom: 20px;
	}
}

@media (max-width: 360px) {
	.search .header .tab{
		padding: 10px;
	}
}

@media (max-width: 768px) {
	#sidebar .banner.__992px img {
		height: 100px;
		object-fit: cover;
	}
}
@media (max-width: 600px) {
	#sidebar .banner.__992px img {
		height: 150px;
	}
}

@media (max-width: 340px) {
	.title-page{
		font-size: 27px;
	}
	.section:not(:first-of-type) .title-page{
		font-size: 19px;
	}
	.section:not(:first-of-type) .title-page + .article {
		/*padding-top: 0;*/
	}
	.section:not(:first-of-type) .title-page + .article .article-prev:first-of-type{
		margin-top: 0;
	}
}

@media (max-width: 349px) {
	.copyright{
		padding-right: 25px;
	}
}




@media (max-width: 1190px) {
	.scrollup{
		margin-left: 0;
		right: 5px;
		left: auto;
	}
}




/*journal*/
@media (max-width: 992px) {
	.sidebar.__flats{
		margin-top: 20px;		
		padding: 20px 20px 0;
		box-sizing: border-box;
	}
		.sidebar.__flats + .sidebar .title-sidebar.c_margin-top-38 {
			margin-top: 15px !important;
		}
	.article-prev.__flat{
		margin-bottom: 0;		
	}
	.article-prev.__flat > img{
		width: 272px;
		height: 184px;
		float: left;

		margin-right: 30px;
		box-sizing: border-box;
	}
	.article-prev.__flat > *:not(img):not(.clr) {
		width: calc(100% - 272px - 30px);
		box-sizing: border-box;
	}
	.sidebar.__flats:first-child .title-sidebar{
		display: none;
	}

	.article-prev.__flat > .title{
		/*margin-left: 297px;*/
		font-size: 18px;
		margin-top: 35px;
	}
	.article-prev.__flat > .__bold{
		/*font-weight: normal;*/
	}
}
@media (max-width: 900px) {
	.article-prev.__flat{
		position: relative;
	}

	.article-prev.__flat > img{
		width: calc((100% - 40px - 40px) / 3);
		height: auto;
	}
	.article-prev.__flat > .title{
		margin-top: 10px;
		/*margin-bottom: 20px;*/
	}

	.article-prev.__flat > *:not(img):not(.clr) {
		/*width: calc(100% - (100% - 40px - 40px) / 3 + 30px);*/
		/*transform: translate(0, 50%);*/
	}
	.article-prev.__flat > .__bold{
		font-weight: bold;
	}
}

@media (max-width: 992px) {
	#sidebar .banner.__992px-2{
		display: block;
		width: 260px;
		height: 430px;

		margin: 45px auto 15px;

		box-sizing: border-box;
	}
	#sidebar .banner.__992px-2 img{
		border: 1px solid #b8b8b8;
	}
}

@media (max-width: 600px) {
	.form-subscription{
		padding-bottom: 60px;
	}
	.form-subscription .base-label-1{
		margin-bottom: 40px;
	}
	.form-subscription .base-form-control{
		width: 100%;
		/*margin-left: -5%;*/
		box-sizing: border-box;
	}
	.form-subscription button{
		right: 0 !important;
	}
	.form-subscription .form-group.__has-button input[type="text"]{
		padding-right: 0;
	}
}

@media (max-width: 750px) {
	.article-prev.__flat > img{
		width: 50%;
	}
	.article-prev.__flat > *:not(img):not(.clr){
		width: calc(50% - 30px);
		display: inline-block;
	}
	.article-prev.__flat > .title{
		margin-top: 0;
	}
}

@media (max-width: 600px) {
	#sidebar .banner.__992px-2{
		display: none;
	}
}

@media (max-width: 350px) {
	.form-subscription .form-group.__has-button button{
		position: static;
		margin: 10px auto 0;
	}
}

@media (max-width: 500px) {
	.article-prev.__flat > img{
		width: 100%;
		margin-right: 0 !important;
	}
	.article-prev.__flat > *:not(img):not(.clr){
		width: 100%;
	}
}




@media (max-width: 992px) {
	.form-subscription .base-label-1{
		margin-top: 3px;
		margin-bottom: 35px;
	}
}
@media (max-width: 320px) {
	.form-subscription .base-label-1{
		margin-bottom: 25px;
	}
}




/* @media (max-width: 992px) {
	.pagination{
		display: none;
	}
} */
@media (min-width: 993px) and (max-width: 1100px), (max-width: 760px) {
	.section.__all-lots > .__footer .__row > .__col.__3{
		clear: left;
		float: none;
		margin: 0 auto;
	}
	.section.__all-lots > .__footer .__row > .__col.__2{
		width: calc(100% - 242px);
	}
	.section.__all-lots > .__footer .pagination{
		text-align: right;
	}
}
@media (min-width: 761px) and (max-width: 800px) {
	.section.__all-lots > .__footer .__row > .__col.__1{
		width: 200px;
	}
	.section.__all-lots > .__footer .__row > .__col.__2{
		width: calc(100% - 200px - 214px);
	}
}
@media (max-width: 570px) {
	.section.__all-lots > .__footer .__row > .__col.__1{
		width: 100%;
		float: none;
		text-align: center;
	}
		.section.__all-lots > .__footer .__row > .__col.__1 > .article-social{
			display: inline-block;
			vertical-align: middle;
		}
	.section.__all-lots > .__footer .__row > .__col.__2{
		width: 100% !important;
		float: none;
	}
		.section.__all-lots > .__footer .pagination {
			text-align: center;
			padding-right: 0;
			margin-top: 10px;
		}
	.section.__all-lots > .__footer .__row > .__col.__3{
		width: 100% !important;
		float: none;
		text-align: center !important;
	}
}

@media (min-width: 993px) and (max-width: 1100px), (max-width: 760px) {
	.page-search-results .section.__all-lots > .__footer .__row > .__col.__3{
		clear: initial;
		float: right;
	}
	.page-search-results .section.__all-lots > .__footer .pagination{
		text-align: left;
	}
}
@media (max-width: 570px) {
	.page-search-results .section.__all-lots > .__footer .pagination{
		text-align: center;
	}
}




/*.page-news*/
@media (max-width: 620px) {
	.page-news .article.__no-main-article .article-prev:not(:first-child):not(:nth-child(2)){
		display: none;
	}

	.page-news .sidebar.__flats{
		display: none;
	}
	.sidebar.__flats + .sidebar .title-sidebar.c_margin-top-38{
		margin-top: 0 !important;
	}
}

@media (max-width: 992px) {
	.page-news #sidebar .banner.__992px {
		display: none;
	}
	.page-news .sidebar h1.title-sidebar{
		padding-top: 0;
	}
}
@media (max-width: 400px) {
	.page-news #sidebar .banner.__992px {
		display: block;
	}
}




/*page-profile-my-objects*/
@media (min-width: 993px) and (max-width: 1120px) {
	.my-objects .lots-pages-view .form-group.__input{
		max-width: 404px;
		width: 100%;
		float: none;
		clear: left;
		margin-left: 20px;
		padding-top: 10px;
	}
}

@media (min-width: 993px) and (max-width: 1200px) {
	.my-objects-list__item .__top-center{
		width: calc(100% - 144px);
	}
	.my-objects-list__item .__top-right{
		width: 100%;
		text-align: left;
		margin-top: 10px;
	}
	.my-objects-list__item .__top-right > .__row{
		display: inline-block;
		vertical-align: middle;
	}
	.my-objects-list__item .__top-right > .__row.__1{
		width: 167px;
		box-sizing: border-box;
	}

	.my-objects-list__item .__bottom{
		position: relative;
	}
	.my-objects-list__item .__bottom-right{
		/*float: none;*/

		position: relative;
		top: -80px;
		left: -5px;
	}

	.my-objects-list__item .__bottom-left{
		width: 100%;
		float: none;
	}
	.base-button-group-2 button{
		width: 25%;
		padding-left: 0;
		padding-right: 0;
	}

	.my-objects-list__item{
		padding-bottom: 0;
	}
}

@media (max-width: 992px) {
	.my-objects .pagination{
		display: block;
	}

	.sidebar.__menu:first-child .title-sidebar{
		padding-top: 40px;
		margin-bottom: 25px;
	}
	.profile-menu{
		margin-bottom: 0;
	}

	.sidebar.__menu:first-child + .sidebar.__flats h1.title-sidebar{
		padding-top: 20px;
		margin-top: 0 !important;
	}
}

@media (max-width: 810px) {
	.base-button-group-1.__simple button{
		padding-left: 12px;
		padding-right: 12px;
	}
	.my-objects .lots-pages-view .form-group.__input{
		width: calc(100% - 430px);
	}
}

@media (max-width: 860px){
	.my-objects-list__item{
		position: relative;
	}

	.my-objects-list__item .__top-center > .__row.__1{
		visibility: hidden;
		/*padding-bottom: 50px;*/
		padding-bottom: 65px;
	}
	.my-objects-list__item .__top-center{
		width: calc(100% - 144px);
	}	
	.my-objects-list__item .__top-right{
		width: calc(100% - 144px - 40px);
		float: none;
		text-align: left;
		padding-left: 25px;

		position: absolute;
		left: 164px;
		/*top: 25px;*/
		z-index: 1;
	}
	.my-objects-list__item .__top-right > .__row.__3{
		display: block;
		line-height: 1.8;
	}

	.base-button-group-2 button{
		padding-right: 22px;
		padding-left: 22px;
	}
}

@media (max-width: 760px) {
	.my-objects .lots-pages-view > .__view{
		float: none;
		width: 100%;
		margin-top: 80px;
	}

	.my-objects .lots-pages-view .form-group.__input{
		max-width: initial;
		width: calc(100% - 20px);
		
		margin-top: -100px;
		/*transform: translate(0, 0);*/
	}
}

@media (max-width: 650px){
	.my-objects .lots-sorting{
		padding-left: 10px;
		padding-right: 10px;
	}
	.my-objects .lots-sorting .form-group.__select.__simple [class*="label"].__has-margin{
		margin-right: 0;
	}
	.my-objects .lots-sorting .form-group.__select.__simple .jq-selectbox__select-text{
		font-size: 14px;
	}
	.my-objects .lots-sorting .form-group.__select.__simple.__sort-by .jq-selectbox{
		max-width: 134px;
	}
	.my-objects .lots-sorting .form-group.__select.__simple .jq-selectbox__select{
		padding-left: 6px;
		padding-bottom: 4px;
		padding-top: 11px;
	}
	.my-objects .lots-sorting .__sort-by-label{
		margin-right: 0;
	}

	
	.my-objects .lots-sorting{
	}
	.my-objects .lots-sorting .lots-sorting .__col.__1{
		width: 49%;
	}
	.my-objects .lots-sorting .lots-sorting .__col.__2{
		width: 51%;
	}
}
@media (max-width: 650px){
	.base-button-group-2 button{
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 750px){
	.my-objects-list__item .__bottom-right{
		clear: left;
		margin-top: 15px;
	}

	.my-objects-list__item .__top-center > .__row > .__label.__price{
		display: block;
		margin-top: 15px;
	}
}

@media (max-width: 500px){
	.my-objects .lots-pages-view .form-group.__input{
		margin: 10px 0;
	}
	.my-objects .lots-pages-view > .__view{
		margin-top: 0;
	}
	.my-objects .lots-pages-view > .__view > .__label{
		display: none;
	}
	
	.my-objects .lots-pages-view > .__view .base-button-group-1{
		width: 100%;
		padding-right: 20px;
		box-sizing: border-box;
	}
	.my-objects .lots-pages-view > .__view button{
		width: 33.33%;
		padding: 0;
	}
	.my-objects .lots-pages-view > .__view button:nth-child(1){
		width: 20%;
	}
	.my-objects .lots-pages-view > .__view button:nth-child(2){
		width: 35%;
	}
	.my-objects .lots-pages-view > .__view button:nth-child(3){
		width: 45%;
	}

	.my-objects .lots-pages-view .form-group.__input [class*="form-control"]{
		font-size: 14px;
	}
}

@media (max-width: 580px){
	.my-objects .lots-sorting .__col.__1{
		width: 100%;
	}
	.my-objects > .__header .lots-sorting .__col.__2{
		display: none;
	}

	.my-objects .base-button-group-2 button{
		display: block;
		float: left;
		width: 50%;

		padding-left: 10px;
		padding-right: 10px;

		box-sizing: border-box;
	}
	.my-objects .base-button-group-2 button:nth-child(2n):hover + button{
		border-left-color: #e1e1e1;
	}
}
@media (max-width: 515px){
	.my-objects-list__item .__top-left{
		width: 100%;
		float: none;

		margin-bottom: 20px;
	}
	.my-objects-list__item .__top-center{
		width: 100%;
		padding-left: 0;
	}
	.my-objects-list__item .__top-right{
		width: calc(100% - 40px);
		left: auto;
		padding-left: 0;

		box-sizing: border-box;
	}
}
@media (max-width: 430px){
	.my-objects .base-button-group-2 button{
		display: block;
		width: 100%;
		margin-right: 0;
	}
	.my-objects .base-button-group-2 button:hover + button{
		border-color: #e1e1e1;
	}
}
@media (max-width: 380px){
	.my-objects-list__item .__top-center > .__row > .__label{
		margin-right: 8px;
	}
}
@media (max-width: 450px){
	.my-objects-list__item .__top-center > .__row.__1{
		padding-bottom: 67px;
	}
}

@media (max-width: 575px){
	.my-objects .footer-filters > .__row > .__col{
		width: 100%;
		float: none;
		margin-top: 0;
		padding-top: 0;

		box-sizing: border-box;
	}
	.my-objects .footer-filters .lots-sorting .__col.__2{
		text-align: left;
	}
	.my-objects .footer-filters .lots-sorting{
		width: calc(100% - 40px);
		box-sizing: border-box;
	}
}

@media (max-width: 767px) {
	.section.__more-articles > .__item .__right h2{
		margin-top: 0;
	}
}
@media (max-width: 530px) {
	.section.__more-articles > .__item .__left{
		width: 100%;
	}
	.section.__more-articles > .__item .__left img{
		width: 100%;
		height: auto;
	}
	.section.__more-articles > .__item .__right{
		width: 100%;
		padding-left: 0;
		padding-top: 8px;
	}
	.section.__more-articles > .__item .__right h2{
		line-height: 1.2;
	}

	.section.__more-articles > .__item{
		margin-bottom: 27px;
	}
}

@media (max-width: 1180px) {
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2{
		text-align: left;
	}
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(2){
		margin-left: 20px;
		float: none;
	}
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row:first-child > .__col.__3{
		margin-top: 0;
	}
}
@media (min-width: 993px) and (max-width: 1120px) {
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2{
		width: 100%;
	}
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(2){
		float: right;
	}
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row:first-child > .__col.__3{
		margin-top: 20px;
	}
}
@media (max-width: 992px) {
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(2){
		position: absolute;
		left: 50%;
		margin-left: 0;
		transform: translate(-50%, 0);
	}
}
@media (max-width: 830px) {
	#content-wrap .search-filters .form-search-filters.__2 > .__row:first-child > .__col.__2 > .form-group:nth-child(1),
	#content-wrap .search-filters .form-search-filters.__2 > .__row:first-child > .__col.__2 > .form-group:nth-child(2){
		padding-bottom: 0;
		border-bottom: none;
	}

	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2{
		width: 100%;
	}
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(2){
		float: right;
	}
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row:first-child > .__col.__3{
		margin-top: 20px;
	}

	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(2){
		position: static;
	}

	#content-wrap .search-filters .form-group.__checkboxes > div:last-child .input-container{
		width: auto;
		padding: 0;
		margin-right: 5px;
	}

	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(1){
		width: 200px;
	}
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(1),
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(2){
		margin-top: 0;
	}

	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row:first-child > .__col.__3{
		width: 100%;
	}

	#content-wrap .search-filters .form-search-filters.__2 > .__row:first-child > .__col.__3{
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
@media (max-width: 750px) {
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(2){
		transform: none;
	}
	#content-wrap .search-filters .form-search-filters.__2 > .__row:first-child > .__col.__2 .form-group.__input-2-values > .__input-value-group{
		width: 49%;
		margin-left: 1% !important;
		margin-top: 0;
	}
}
@media (max-width: 572px) {
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(1),
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(2){
		width: 100%;
	}
	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(1){
		max-width: 200px;
	}

	#content-wrap .search-filters .form-search-filters.__2[class*="form"] > .__row > .__col.__2 > .form-group:nth-child(2){
		width: calc(100% + 40px);
		margin-top: 35px;
		padding-bottom: 15px;
		border-bottom: 1px solid #dadada;

		padding-left: 20px;
		padding-right: 20px;
		left: 20px;
		position: relative;

		box-sizing: border-box;
	}

	#content-wrap .search-filters{
		border-bottom: none;
	}

	#content-wrap .search-filters .form-search-filters.__2 > .__row:first-child > .__col.__2 .form-group.__input-2-values > .__input-value-group{
		width: 50%;
		margin-left: 0% !important;
	}
}
@media (max-width: 350px) {
	.search-filters .form-search-filters.__2 .__col.__2 .form-group.__input-2-values:nth-last-child(1) > .__input-value-group > input{
		padding-right: 0;
	}
}

@media (min-width: 993px) and (max-width: 1060px) {
	.lots-sorting .__label,
	.lots-sorting .__sort-by-label{
		margin-right: 3px;
	}
}

@media (max-width: 768px) {
	.lots-sorting.__has-select{
		padding: 7px 10px;
	}	
	.lots-sorting.__has-select .__sort-by-label{
		display: none;
	}
		.lots-sorting.__has-select .__sort-by-label:last-of-type{
			display: inline-block;
			margin-top: 6px;
		}
	.lots-sorting.__has-select .form-group.__select.__sort-by{
		display: inline-block !important;
		vertical-align: middle;

		margin-top: -4px;
		margin-left: -15px;
	}
		.lots-sorting.__has-select .form-group.__select.__sort-by .jq-selectbox__select-text{
			font-size: 14px;
		}
}
@media (max-width: 520px) {
	.lots-sorting.__has-select .__sort-by-label:last-of-type{
		display: none;
	}
}

@media (max-width: 800px) {
	body:not(.page-jk) .lots-item .__main-left{
		float: none;
		width: 100%;
		border-right: none;
	}
	body:not(.page-jk) .lots-item .__main-right{
		float: none;
		width: 100%;
		padding-left: 0;
		margin-top: 17px;
	}

	body:not(.page-jk) .lots-item .__main-right .form-group{
		position: static;
		margin-top: 20px;
		margin-bottom: 13px;
	}
	.page-jk .lots-item .__main-left{
		width: calc(100% - 180px);
	}
	.page-jk .lots-item .__main-right{
		width: 180px;
	}
	.page-jk .lots-item .__main-right .form-group{
		left: calc(100% - 157px);
	}
	.page-jk .lots-item .__main-right a i + span{
		width: calc(100% - 40px);
	}
}
@media (max-width: 760px) {
	.page-jk .lots-item {
		padding-bottom: 0;
	}
	.page-jk .lots-item:last-of-type {
		padding-bottom: 20px;
	}
	.page-jk .lots-item .__main-left{
		float: none;
		width: 100%;
		border-right: none;
	}
	.page-jk .lots-item .__main-right{
		float: none;
		width: 100%;
		padding-left: 0;
		margin-top: 17px;
		margin-bottom: -10px;
	}

	.page-jk .lots-item .__main-right .form-group{
		position: static;
		margin-top: 20px;
		margin-bottom: 13px;
	}
	.page-jk .lots-item .__main-right a i + span{
		/*width: 100%;*/
	}
}

@media (min-width: 993px) and (max-width: 1110px) {
	.lots-item .__main-left{
		width: 276px;
	}
	.lots-item .__main-right{
		width: calc(100% - 276px);
		padding-left: 15px;
		min-height: 100px;
	}
	.lots-item .__main-right > .__row.__1 {
		margin-top: -10px;
	}
	.lots-item .__main-right a i + span{
		display: block;
		/*width: calc(100% - 40px);*/
		margin-top: 10px;
	}
	.lots-item .__main-right .form-group{
		left: 291px;
	}
	.lots-item .__main-right .form-group.__checkbox{
		bottom: -15px;
	}
	.lots-item .__main-right .form-group.__checkbox.__style-2 input + span + label{
		padding-left: 0;
		padding-top: 30px;
	}
}

@media (max-width: 620px) {
	.lots-item .__main-left > .__row .__label.__2{
		width: calc(100% - 108px);
		word-break: break-word;
	}
}
@media (max-width: 530px){
	.lots-item > .__left{
		width: 100%;
	}
	.lots-item > .__right{
		width: 100%;
		padding-left: 0;
	}

	.lots-item,
	.lots-item:last-of-type{
		position: relative;
		padding-bottom: 100px;
	}
	.lots-item > .__left .__row{
		width: calc(100% - 40px);
		position: absolute;
		bottom: 50px;
	}
	.lots-item > .__left .__row.__link{
		bottom: 10px;
	}
}

@media (max-width: 768px){
	.lots-item-table .__main .__label.__jk{
		display: inline-block;
	}
		.lots-item-table .__main .__label.__jk a{
			text-decoration: none;
		}

	.lots-item-table > .__left{
		width: 100%;
	}
	.lots-item-table > .__center{
		width: 50%;
		text-align: left;
		border-left: none;
	}
	.lots-item-table > .__right{
		width: 50%;
		float: right;
		border-left: none;
	}
}

@media (max-width: 760px) {
	.lots-item-table .__main{
		margin-top: 0;
	}
	.lots-item-table .__main .__label{
		margin-top: 17px;
		margin-right: 18px;
	}
}
@media (max-width: 570px){
	.lots-item-table .__main .__label.__jk{
		display: block;
		margin-right: 0;
	}

	.lots-item-table > .__center a i + span{
		width: calc(100% - 40px);
		display: inline-block;
		vertical-align: middle;
	}

	.lots-item-table > .__center{
		width: 65%;
	}
	.lots-item-table > .__right{
		width: 35%;
	}
}
@media (max-width: 350px){
	.lots-item-table .__main .__label{
		margin-right: 12px;
	}
}

@media (max-width: 560px){
	.profile-main > .__left{
		width: 100%;
		float: none;
		padding-right: 0;
	}
	.profile-main > .__right{
		width: 100%;
		float: none;
	}

	.profile-main > .__left img{
		display: block;
		width: 100%;
		height: auto;

		margin-bottom: 20px;
	}
}
@media (max-width: 450px) {
	.profile-main > .__right .__label.__1{
		display: none;
	}
}

@media (max-width: 550px) {
	.form-edit-profile .form-group [class*="label"]{
		display: block;
		width: 100%;
		margin-bottom: 12px;
	}
	.form-edit-profile .form-group [class*="label"] + *{
		display: block;
		width: 100% !important;
		max-width: initial !important;
	}
	.form-edit-profile .form-group.__select.__simple .jq-selectbox{
		max-width: initial;
	}

	.form-password .form-group [class*="label"]{
		width: 100%;
		display: block;
		margin-bottom: 15px;
	}
	.form-password .form-group [class*="label"] + *{
		display: block;
		width: 100%;
		max-width: initial;
	}
	.form-password .form-group{
		margin-bottom: 21px;
	}
		.form-password .form-group:last-child{
			margin-bottom: 0;
		}

	.form-password .form-group.__input:before,
	.form-password .form-group.__input:after,
	.form-edit-profile .form-group.__input:before,
	.form-edit-profile .form-group.__input:after{
		display: none;
	}

	.form-edit-profile > .__section{
		margin-bottom: 10px;
	}
}

@media (max-width: 600px) {
	.add-object.popup{
		width: 100%;
		height: 100%;
		overflow-y: auto;
		top: 0;
	}
}
@media (max-width: 550px) {
	.base-popup-1 .form-1 .submit-container > .__row > .__col,
	.form-1.form-request .submit-container > .__row > .__col{
		width: 100%;
		margin-top: 10px;
		float: none;
		clear: both;
		text-align: center;
	}

	.base-popup-1 .form-1 .submit-container > .__row > .__col .form-group.__captcha,
	.form-1.form-request .submit-container > .__row > .__col .form-group.__captcha{
		width: 100%;
	}

	.base-popup-1 .form-1 .submit-container > .__row > .__col.__2,
	.form-1.form-request .submit-container > .__row > .__col.__2{
		width: 100%;
		text-align: center;
		margin-top: 0;
	}
}

@media (max-width: 600px) {
	.contacts-of-company > .__item{
		float: none;
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
	}

	.contacts-of-company > .__item i + span{
		padding-left: 30px;
		box-sizing: border-box;
	}

	.contacts-of-company > .__item:nth-child(3){
		position: relative;
		top: -115px;
	}
	.contacts-of-company > .__item:nth-child(2){
		position: relative;
		top: 85px;
	}

	.map-big > img{
		height: 100%;
	}
}
@media (max-width: 500px) {
	.contacts-of-company > .__item:nth-child(3){
		position: relative;
		top: -145px;
	}
	.contacts-of-company > .__item:nth-child(2){
		position: relative;
		top: 85px;
	}
}
@media (max-width: 420px) {
	.contacts-of-company > .__item:nth-child(3){
		position: relative;
		top: -175px;
	}
	.contacts-of-company > .__item:nth-child(2){
		position: relative;
		top: 105px;
	}
}

@media (max-width: 992px) {
	.content-404error > .__left{
		width: 196px;
	}
	.content-404error > .__right{
		width: calc(100% - 196px);
		/*padding-left: 0;*/
		left: 196px;
	}
}
@media (max-width: 768px){
	.content-404error > .__left{
		width: 168px;
	}
	.content-404error > .__right{
		width: calc(100% - 168px);
		/*padding-left: 0;*/
		left: 168px;
	}
}
@media (max-width: 700px) {
	.page-404error #content-wrap .content{
		width: 100%;
		/*margin-top: 100px;
		margin-bottom: 100px;*/
	}
}
@media (max-width: 650px) {
	.content-404error > .__left{
		float: none;
		margin: 0 auto;
	}
	.content-404error > .__right{
		float: none;
		width: 71%;
		margin: 35px auto 0;
		padding-left: 0;

		position: static;
		transform: none;
	}
}
@media (max-width: 500px) {
	.content-404error > .__right{
		width: 90%;
	}
	.content-404error > .__right > .__heading{
		margin-bottom: 20px;
	}
}
@media (max-width: 400px) {
	.content-404error > .__right{
		width: 100%;
		padding: 0 10px;
	}
	.content-404error > .__right > .__heading{
		font-size: 24px;
	}
}

@media (max-width: 768px) {
	.detailed-info.__state-2 td .__old-price{
		display: block;
	}
}

@media (max-width: 768px) {
	.gallery-slider .bx-wrapper .bx-viewport{
		height: auto !important;
		max-height: 480px;
	}
	.gallery-slider .bxslider img{
	 	/*height: auto !important;*/
		max-height: 500px; 
		height: 100% !important;
		object-fit: cover;
		object-position: center center;
	}
}
@media (max-width: 576px) {
	.gallery-slider .bx-wrapper .bx-viewport{
		height: auto !important;
		max-height: 360px;
	}
	.gallery-slider .bxslider img{
		 /*height: auto !important;*/
		max-height: 360px; 
	}
}
@media (max-width: 460px) {
	.gallery-slider .bx-wrapper .bx-viewport{
		height: auto !important;
		max-height: 198px;
	}
	.gallery-slider .bxslider img{
		 /*height: auto !important;*/
		max-height: 198px; 
	}
}

@media (max-width: 700px) {
	.detailed-info{
		position: relative;
	}
		.detailed-info:after{
			display: none;
			/*display: block;*/
			content: "";
			width: 100%;
			height: 20px;
			background: #fff;

			bottom: 0;
			left: 0;
			z-index: 2;
			position: absolute;
		}
	.detailed-info .column.left{
		width: 100%;
		padding-right: 0;
		float: none;
	}
	.detailed-info .column.right{
		width: 100%;
		float: none;
		margin-top: 40px;
		transition: all 0.45s;
		position: relative;
		top: 0;
	}

	.map-details #map,
	.map-details #map .ymaps-map{
		width: 100% !important;
	}

	.detailed-info .column.right + .agent-contacts-small{
		top: -280px !important;
	}
	.detailed-info .column.right.__is-positioned{
		position: relative;
		/*top: 120px;*/
	}
		.page-lot .detailed-info .column.right.__is-positioned{
			top: 120px;
		}
	.detailed-info .promo-links{
		background: #f7f5f5;
		padding-top: 20px;
		margin-top: 0;
		border: none;
		margin-bottom: 20px;
	}
		.page-lot .detailed-info .promo-links{
			padding-top: 0;
		}
	.detailed-info .promo-links > .__row{
		border-top: 1px solid #dadada;
	}

	.promo-links a{
		padding-left: 0;

		font-size: 12px;
	}

	.section.__more-lots{
		margin-top: 50px;
	}
	.section.__more-lots > .__items > .__item .__col.__1{
		width: 30%;
	}
	.section.__more-lots > .__items > .__item .__col.__2{
		width: 70%;
	}
}

@media (max-width: 460px) {
	.temp-block{
		display: none;
	}

	.lot-small-info .__label .__offset{
		display: block;
		margin-left: 0;
		margin-top: 10px;
	}

	.detailed-info td{
		display: inline-block;
		vertical-align: top;
		width: auto !important;
		margin-right: 20px;
	}

	.detailed-info .phone .__name,
	.detailed-info .phone .__name a,
	.detailed-info .phone .__phone,
	.detailed-info .phone .__agency{
		font-size: 14px;
	}

	.detailed-info .promo-links.__variant-2{
		left: 0;
		transform: translate(-20px, 0);
		width: calc(100% + 40px);
		overflow: hidden;
	}
	.detailed-info .promo-links.__variant-2 > .__row > .__col{
		width: 100%;
		border-bottom: 1px solid #dadada;
		border-left: none;
	}
		.detailed-info .promo-links.__variant-2 > .__row > .__col a{
			font-size: 14px;
		}
	.detailed-info .promo-links.__variant-2 > .__row > .__col:last-child{
		border: none;
	}

	.detailed-info .phone .__row > .__col{
		width: 100%;
		float: none;
		border: none;
	}
	.detailed-info .phone .__row > .__col.__2{
		border-top: 1px solid #dadada;
	}

	.section.__more-lots > .__items > .__item .__col.__1,
	.section.__more-lots > .__items > .__item .__col.__2{
		width: 100%;
		float: none;
	}
	.section.__more-lots > .__items > .__item .__col.__2{
		margin-bottom: 10px;
	}

	.page-lot .detailed-info .column.right{
		margin-top: 67px;
	}
	.page-lot .detailed-info .column.right.__is-positioned{
		top: 160px;
	}

	.section.__more-lots > .__items > .__item .__col .__color-2{
		margin-left: 1px;
	}
}

@media (max-width: 320px) {
	.page-jk .search-filters .form-search-filters.__2[class*="form"] > .__row:first-child > .__col.__3{
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.page-jk .form-search-filters.__2 > .__row:first-child > .__col.__3 .form-group.__checkboxes .base-label-2{
		margin-bottom: 6px !important;
	}

	.page-jk .lots-sorting.__has-select{
		margin-top: 21px;
		margin-bottom: 23px;
	}
}

@media (max-width: 768px) {
	.page-search-results .lots-sorting.__has-select + .__all-items{
		margin-top: 31px;
	}
}
@media (max-width: 576px) {
	.page-search-results .section.__all-lots.search-results-items > .__header > .__heading{
		margin-bottom: 24px;
	}
	.page-search-results .lots-item > .__left a,
	.page-search-results .lots-item > .__right a{
		line-height: 1.6;
	}
	.page-search-results .lots-item .__main-left > .__row{
		margin-top: 13px;
	}
	.page-search-results .lots-item .__main-right{
		margin-top: 30px;
	}
	.page-search-results .lots-item .__main-right .form-group{
		margin-bottom: 2px;
	}
}
@media (max-width: 320px) {
	.page-search-results .section.__all-lots.search-results-items > .__header > .__heading{
		margin-bottom: 0;
	}
	.page-search-results .form-group.__select.__pages-number{
		display: none;
	}
	.page-search-results .lots-pages-view > .__view{
		margin-bottom: 20px;
	}
	.page-search-results .lots-sorting.__has-select + .__all-items{
		margin-top: 21px;
	}

	.page-search-results .lots-item > .__right{
		padding-top: 16px;
	}
	.page-search-results .lots-item > .__right > .__id{
		margin-top: 10px;
	}
	.page-search-results .lots-item .__main{
		padding-top: 6px;
	}
	.page-search-results .lots-item{
		/*padding-bottom: 88px;*/
		padding-bottom: 2px;
	}
	.page-search-results .lots-item:last-of-type{
		padding-bottom: 22px;
	}
	.page-search-results .lots-item > .__left .__row{
		bottom: 39px;
	}
	.page-search-results .lots-item > .__left .__row.__link{
		bottom: 1px;
	}

	.page-search-results .lots-item .__main + .__row.__price{
		margin-top: 30px;
	}
	.page-search-results .lots-item__text{
		margin-top: 15px;
	}
	.page-search-results .lots-item .__row.__price .__label.__1{
		float: left;
		font-weight: bold;
		font-size: 16px;
		color: #424242;
	}
	.page-search-results .lots-item .__row.__price .__label.__2{
		float: right;
		font-size: 14px;
		color: #424242;
	}
}

@media (max-width: 768px) {
	/*.page-search-results*/ .lots-item-table > .__left > .__heading:not(.__address){
		margin-top: 6px;
	}
	/*.page-search-results*/ .__show-lots-table .lots .__all-items-table{
		margin-top: 17px;
	}
	/*.page-search-results*/ .lots-item-table > .__center,
	/*.page-search-results*/ .lots-item-table > .__right{
		padding-top: 14px;
		padding-bottom: 17px;
	}
	/*.page-search-results*/ .lots-item-table{
		margin-top: 15px;
	}
}
@media (max-width: 576px) {
	.page-search-results .lots-item-table:first-child{
		margin-top: 0;
	}
	/*.page-search-results*/ .lots-item-table > .__center,
	/*.page-search-results*/ .lots-item-table > .__right {
		padding-top: 17px;
		padding-bottom: 10px;
	}
	/*.page-search-results*/ .lots-item-table > .__left > .__heading:not(.__address){
		margin-top: 2px;
	}
		/*.page-search-results*/ .lots-item-table:not(:first-child) > .__left > .__heading:not(.__address){
			margin-top: 10px;
		}
	/*.page-search-results*/ .lots-item-table{
		/*margin-top: 19px;*/
	}
}

@media (max-width: 320px) {
	/*.page-search-results */.lots-item-table > .__left > .__heading:not(.__address){
		margin-top: 6px;
		line-height: 2;
	}
	/*.page-search-results */.lots-item-table > .__left > .__heading.__address{
		margin-top: 4px;
		line-height: 2;
	}
	/*.page-search-results */.lots-item-table .__main .__label.__jk{
		margin-top: 10px;
	}
	/*.page-search-results */.lots-item-table .__main .__label{
		margin-top: 12px;
	}
	/*.page-search-results */.lots-item-table > .__center,
	/*.page-search-results */.lots-item-table > .__right{
		padding-top: 14px;
		padding-bottom: 6px;
	}
}

@media (max-width: 320px) {
	.profile-editing{
		margin-top: 45px;
	}
	.form-edit-profile .form-group{
		margin-bottom: 23px;
	}
	.form-edit-profile > .__section{
		margin-bottom: 25px;
	}
}

@media (max-width: 700px) {
	.company-info .__more .__item-text span{
		display: block;
		margin-bottom: 15px;
	}
	.company-info .__more .__item-text a{
		display: inline-block;
		vertical-align: middle;

		margin-left: 0 !important;
	}
	.company-info .__more .__item-text a[href*="mailto"] {
		display: inline-block;
		margin-top: -12px;
	}
}

@media (max-width: 576px) {
	.table-employees .base-table-1,
	.table-employees .base-table-1 tbody,
	.table-employees .base-table-1 tbody tr{
		display: block;
		width: 100%;
		float: left;
	}
	.table-employees .base-table-1 tbody td{
		display: block;
		width: 70% !important;
		float: left;
		border-left: none;
	}
		.table-employees .base-table-1 tbody td:nth-child(2) {
			clear: left;
			width: 30% !important;
		}
	.table-employees .base-table-1 tbody td:first-child{
		display: block;
		width: 100% !important;
		padding-bottom: 0;
	}
}

@media (max-width: 576px) {
	.company-info .__main-right .__label.__1{
		display: none;
	}
}

@media (max-width: 520px) {
	.company-info .__main-left{
		width: 100%;
		text-align: center;
	}
	.company-info .__main-right{
		width: 100%;
		padding-left: 0;
		margin-top: 15px;
	}

	.company-info .__more .__item-text span{
		line-height: 1.8;
	}

	.company-info .__more .__item:nth-child(2) .__item-text span,
	.company-info .__more .__item:nth-child(2) .__item-text a{
		display: inline !important;
		margin-top: 0;
		line-height: 1.8;
	}

	.table-employees .base-table-1 tbody td:nth-child(2),
	.table-employees .base-table-1 tbody td{
		width: 50% !important;
	}

	.company-info.__personnel > .__table-switch .base-radio-switch-1{
		width: 100% !important;
	}
	.company-info.__personnel > .__table-switch .base-radio-switch-1 label{
		width: 100%;
		clear: left;
		margin-bottom: -1px !important;

		border-left: 1px solid #a2c3c3;
	}
}
@media (max-width: 400px) {
	.table-employees .base-table-1 tbody td:nth-child(2){
		width: 60% !important;
	}
	.table-employees .base-table-1 tbody td:nth-child(3){
		width: 40% !important;
	}
}

@media (max-width: 1100px) {
	.map.popup {
		margin-left: -419px;
	}
}
@media (max-width: 900px) {
	.map.popup {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0 !important;
		margin: 0;
		overflow-y: auto;

		box-sizing: border-box;
	}
	.map.popup #big_map{
		/*margin-bottom: 30px;*/
	}
	.map.popup #big_map,
	.map.popup #big_map .ymaps-map{
		height: calc(100% - 40px) !important;
		width: 100% !important;

		box-sizing: border-box;
	}
}

@media (max-width: 576px) {
	.page-lot .article.__no-main-article .article-prev:nth-child(1),
	.page-lot .article.__no-main-article .article-prev:nth-child(2) {
		display: block !important;
	}
	.page-lot .article.__no-main-article .article-prev{
		display: none;
	}
}

@media (max-width: 320px) {
	.detailed-info td{
		line-height: 1.7;
		padding: 8px 0;
	}
	.detailed-info tr:first-child + tr td{
		padding-top: 14px;
	}
	.detailed-info tr:first-child td:first-child{
		display: inline;
		margin-right: 20px;
	}
	.detailed-info tr:first-child td:nth-child(2){
		display: inline;
		margin-right: 0;
	}

	.detailed-info .column.right + .agent-contacts-small{
		top: -288px !important;
	}
	.page-lot .detailed-info .column.right + .agent-contacts-small{
		top: -281px !important;
	}

	.page-lot .detailed-info .column.right{
		margin-top: 55px;
	}

	.page-jk .detailed-info .promo-links > .__row > .__col{
		width: 100%;
		float: none;
		border-top: 1px solid #dadada;
	}
		.page-jk .detailed-info .promo-links > .__row > .__col a{
			font-size: 14px;
		}
	.page-jk .detailed-info .promo-links > .__row > .__col:first-child{
		border-top: none;
	}
}

@media (max-width: 320px) {
	.page-lot #sidebar .sidebar.c_margin-top40{
		margin-top: 0 !important;
	}
	.page-lot #sidebar .sidebar.c_margin-top40 h1.title-sidebar{
		padding-top: 0;
		margin-top: 20px !important;
	}
}

@media (max-width: 992px) {
	.form-search-filters.__2.__filters-cottage > .__row > .__col{
		width: 31.7% !important;
	}
	.form-search-filters.__2.__filters-cottage > .__row > .__col.__1{
		width: 36.6% !important;
	}
	.form-search-filters.__2.__filters-cottage > .__row > .__col.__2{
		padding-right: 20px;
	}

	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__1 .form-group.__input-2-values > .__input-value-group{
		max-width: 140px;
		margin-right: 2px !important;
	}
	.form-search-filters.__2.__filters-cottage > .__row > .__col.__2 > .form-group:nth-child(1){
		width: 240px;
	}
}
@media (max-width: 970px) {
	.form-search-filters.__2.__filters-cottage > .__row > .__col,
	.form-search-filters.__2.__filters-cottage > .__row > .__col.__1,
	.form-search-filters.__2.__filters-cottage > .__row > .__col.__2{
		width: 100% !important;
		padding-right: 0 !important;
		padding: 20px 0 22px;

		border-top: 1px solid #dedede;
	}
	.form-search-filters.__2.__filters-cottage > .__row > .__col.__2 > .form-group:nth-child(1){
		width: 100% !important;
	}
	.form-search-filters.__2.__filters-cottage > .__row:first-child > .__col.__3{
		margin-bottom: 0;
		border-bottom: none;
	}
	.form-search-filters.__2.__filters-cottage > .__row:first-child > .__col.__1,
	.form-search-filters.__2.__filters-cottage > .__row:first-child > .__col.__2{
		border-top: none;
	}
	.form-search-filters.__2.__filters-cottage > .__row,
	.form-search-filters.__2.__filters-cottage > .__row.__values{
		margin: 0;
	}

	.form-search-filters.__2.__filters-cottage .__col.__mkad .form-group.__input-2-values > .__input-value-group,
	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__1 .form-group.__input-2-values > .__input-value-group,
	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__2 .form-group.__input-2-values > .__input-value-group,
	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__3 .form-group.__input-2-values > .__input-value-group{
		width: 47%;
		max-width: initial;
		margin-right: 6% !important;
	}
	.form-search-filters.__2.__filters-cottage .__col.__mkad .form-group.__input-2-values > .__input-value-group:last-child,
	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__1 .form-group.__input-2-values > .__input-value-group:last-child,
	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__2 .form-group.__input-2-values > .__input-value-group:last-child,
	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__3 .form-group.__input-2-values > .__input-value-group:last-child{
		margin-right: 0 !important;
	}

	.form-search-filters.__2.__filters-cottage .__col.__2 .form-group.__input-2-values:nth-last-child(1) > .__input-value-group > input{
		width: calc(100% - 25px);
	}

	.form-search-filters.__2.__filters-cottage .form-group.__checkboxes > div:last-child{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		justify-content: space-between;
	}
		.form-search-filters.__2.__filters-cottage .__row.__select .form-group.__checkboxes .base-label-2{
			margin-bottom: 15px !important;
		}
	.form-search-filters.__2.__filters-cottage .form-group.__select.__simple .jq-selectbox{
		max-width: initial;
	}
}
@media (max-width: 360px) {
	.form-search-filters.__2.__filters-cottage .__col.__radio-cottage .ui-buttonset .ui-button{
		width: 100%;
		max-width: initial;
		border-left: 1px solid #a2c3c3 !important;
		margin-bottom: -1px !important;
	}

	.form-search-filters.__2.__filters-cottage .__col.__mkad .form-group.__input-2-values > .__input-value-group,
	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__1 .form-group.__input-2-values > .__input-value-group,
	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__2 .form-group.__input-2-values > .__input-value-group, 
	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__3 .form-group.__input-2-values > .__input-value-group {
		width: 100%;
		margin-right: 0 !important;
		margin-bottom: 15px !important;
	}
	.form-search-filters.__2.__filters-cottage .__col.__mkad .form-group.__input-2-values > .__input-value-group:last-child,
	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__1 .form-group.__input-2-values > .__input-value-group:last-child,
	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__2 .form-group.__input-2-values > .__input-value-group:last-child, 
	.form-search-filters.__2.__filters-cottage > .__row.__values > .__col.__3 .form-group.__input-2-values > .__input-value-group:last-child {
		margin-bottom: 0 !important;
	}
}




@media (max-width: 900px) {
	.form-search-filters.__2.__filters-jk .__row.__places > .__price .form-group.__input-2-values > .__input-value-group{
		width: 100%;
	}
}
@media (max-width: 800px) {
	.form-search-filters.__2.__filters-jk .form-group.__input-2-values > .__input-value-group:before{
		display: none;
	}
	.form-search-filters.__2.__filters-jk > .__row.__places label{
		margin-bottom: 0;
	}

	.form-search-filters.__2.__filters-jk .__row.__places > .__col.__2 > .link-with-arrow,
	.form-search-filters.__2.__filters-jk .__row.__places > .__col.__3 > .link-with-arrow {
		top: auto;
	}
	.form-search-filters.__2.__filters-jk > .__row:first-child > .__col.__3{
		margin-top: 0;
		margin-bottom: 0;
	}

	.form-search-filters.__2.__filters-jk > .__row.__places > .__col:first-child{
		padding-bottom: 30px;
	}
}
@media (max-width: 320px) {
	.form-search-filters.__2.__filters-jk .__row.__places > .__price .form-group.__input-2-values > .__input-value-group{
		max-width: initial;
	}
}

@media (max-width: 800px) {
	.form-search-filters.__2.__filters-jk.__filters-town .__row.__places > .__price .form-group.__input-2-values{
		margin-bottom: 0;
	}
}

@media (min-width: 801px) and (max-width: 815px) {
	.form-search-filters.__2:not(.__filters-cottage):not(.__filters-jk) > .__row:first-child > .__col.__2 > .form-group{
		max-width: 49%;
	}
}